.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(#000, 0.15);
  border-radius: 3px;
  color: $color-green;
  color: var(--color-primary);
  font-weight: normal;
  font-size: 18px;

  &:focus,
  &:hover {
    background: $color-light-background;
  }
}

.button-icon {
  margin: 0 0 10px;
  width: 30px;
  height: 30px;
  fill: $color-green;
  fill: var(--color-primary);
}
