.empty-content {
  padding: 15px 16px 16px;
  width: 100%;
  max-width: 500px;
  color: hsl(var(--color-primary-hue), var(--color-primary-saturation), 30%);
  font-size: 13px;
  font-weight: 300;
  border-left: 4px solid var(--color-primary);
  background-color: var(--color-primary-opacity-10);
  border-radius: 3px;
  line-height: 1.5;

  &.empty-content--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px 15px;
    border-left: 0;
  }

  svg {
    color: var(--color-primary-opacity-50);
  }

  :global(.link) {
    color: var(--color-primary);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  :global(.icon),
  .icon {
    display: block;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
}
