.empty-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
  color: var(--text-color-normal);
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  &.success {
    color: var(--color-primary);

    .icon {
      opacity: 0.6;
    }
  }

  :global(.link) {
    color: var(--color-primary);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

:global(.icon),
.icon {
  display: block;
  opacity: 0.1;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
