@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-blue, color-error, color-green, color-black, color-success from 'accent-webapp/styles/variables/colors';
@value screen-md from 'accent-webapp/styles/variables/dimensions';

.activity-title {
  font-size: 19px;
  color: #666;
}

.activity-title-author {
  font-weight: bold;
  color: #333;
}

.activity-explanation {
  padding: 10px 12px;
  margin: 0 0 20px;
  background: rgba(color-blue, 0.15);
  box-shadow: 0 1px 20px rgba(color-blue, 0.08);
  font-weight: 300;
  font-size: 13px;
  color: darken(color-blue, 10%);
  border-radius: 3px;
}

.activity-explanation-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  color: darken(color-blue, 20%);
}

.activity-date {
  display: block;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
}

.activity-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rollbackButton {
  font-size: 13px !important;
  margin-left: 10px !important;
  color: lighten(color-error, 25%) !important;

  &:focus,
  &:hover {
    color: color-error !important;
  }

  :global(.label) {
    font-weight: normal !important;
  }
}

.details {
  display: flex;
}

.details-states {
  flex: 1 1 auto;
  width: 45%;
}

.details-associations {
  flex: 1 1 auto;
  width: 55%;
}

.details-label {
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  color: color-green;
  color: var(--color-primary);
}

.details-associations-overflow {
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 3px;
  box-shadow: inset 0 2px 5px rgba(color-black, 0.05);
  padding: 5px 7px;
  border: 1px solid #eee;
}

.stats,
.details-associations,
.translation-state {
  margin-top: 20px;
}

.translation-state-items {
  margin-right: 20px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3px;
  background: #fff;
}

.stats-items {
  margin-right: 20px;
  padding: 13px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(color-black, 0.06);
  border-radius: 3px;
}

.translation-state-item,
.stats-item {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #eee;
  font-size: 14px;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.translation-state-item {
  margin-bottom: 5px;
}

.translation-state-label {
  color: #444;
}

.translation-state-key,
.translation-state-document,
.translation-state-reviewed,
.translation-state-value {
  padding: 5px 10px;
}

.translation-state-key {
  display: block;
  @extend %translationKeyBase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  transition: transition-speed transition-easing;
  transition-property: color;

  &:focus,
  &:hover {
    color: color-green;
    color: var(--color-primary);
  }
}

.translation-state-key-prefix {
  display: block;
  font-size: 11px;
  color: #959595;
  font-weight: 300;
}

.translation-state-document {
  display: block;
  font-size: 12px;
  color: #333;
}

.translation-state-reviewed {
  display: block;
  font-size: 12px;
}

.translation-state-value {
  display: block;
  white-space: pre-wrap;
  font-size: 13px;
  color: #adadad;
}

.translation-state-value--empty {
  font-style: italic;
  font-size: 12px;
}

.rollbackedBadge {
  display: inline-block;
  margin-left: 7px;
  font-size: 12px;
  font-style: italic;
  color: color-error;
}

.translation-state-label {
  font-size: 12px;
}

.translation-state-value {
  display: block;
  font-weight: 400;
}

.textDiff {
  white-space: pre-wrap;

  :global(.added) {
    background: lighten(color-success, 42%);
    color: darken(color-success, 10%);
  }

  :global(.removed) {
    background: lighten(color-error, 48%);
    color: color-error;
    text-decoration: line-through;
  }
}

@media (max-width: (screen-md)) {
  .details {
    flex-direction: column;
  }

  .translation-state-items,
  .stats-items {
    margin-right: 0;
  }

  .details-states,
  .details-associations {
    width: 100%;
  }
}
