.activity-title {
  font-size: 19px;
  color: var(--color-black);
}

.activity-title-author {
  font-weight: bold;
  color: var(--color-black);
}

.activity-explanation {
  padding: 10px 12px;
  margin: 0 0 20px;
  background: var(--color-blue);
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border-radius: 3px;
}

.activity-explanation-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.activity-date {
  display: block;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
}

.activity-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rollbackButton {
  font-size: 13px !important;
  margin-left: 10px !important;
}

.details {
  display: flex;
}

.details-states {
  flex: 1 1 auto;
  width: 45%;
}

.details-associations {
  flex: 1 1 auto;
  width: 55%;
}

.details-label {
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  color: var(--color-primary);
}

.details-associations-overflow {
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 3px;
  box-shadow: inset 0 2px 5px var(--shadow-color);
  padding: 5px 7px;
  border: 1px solid var(--background-light);
}

.stats,
.details-associations,
.translation-state {
  margin-top: 20px;
}

.translation-state-items {
  margin-right: 20px;
  border: 1px solid var(--body-background-border);
  padding: 10px;
  border-radius: 3px;
  background: var(--body-background);
}

.stats-items {
  margin-right: 20px;
  padding: 13px;
  background: var(--body-background);
  box-shadow: 0 2px 10px var(--shadow-color);
  border-radius: 3px;
}

.translation-state-item,
.stats-item {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid var(--background-light-highlight);
  font-size: 14px;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.translation-state-item {
  margin-bottom: 5px;
}

.translation-state-label {
  color: var(--color-black);
}

.translation-state-key,
.translation-state-document,
.translation-state-reviewed,
.translation-state-value {
  padding: 5px 0;
}

.translation-state-key {
  display: block;
  font-family: var(--font-monospace);
  word-break: break-all;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  transition: 0.2s ease-in-out;
  transition-property: color;
  color: var(--color-primary);

  &:focus,
  &:hover {
    color: var(--color-primary-darken-10);
  }
}

.translation-state-key-prefix {
  display: block;
  font-size: 11px;
  color: var(--color-black);
  font-weight: 300;
}

.translation-state-document {
  display: block;
  font-size: 12px;
  color: var(--color-black);
}

.translation-state-reviewed {
  display: block;
  font-size: 12px;
}

.translation-state-value {
  display: block;
  white-space: pre-wrap;
  font-size: 13px;
  color: var(--color-black);
}

.translation-state-value--empty {
  font-style: italic;
  font-size: 12px;
}

.rollbackedBadge {
  display: inline-block;
  margin-left: 7px;
  font-size: 12px;
  font-style: italic;
  color: var(--color-error);
}

.translation-state-label {
  font-size: 12px;
}

.translation-state-value {
  display: block;
  font-weight: 400;
}

.textDiff {
  white-space: pre-wrap;
}

@media (max-width: var(--screen-md)) {
  .details {
    flex-direction: column;
  }

  .translation-state-items,
  .stats-items {
    margin-right: 0;
  }

  .details-states,
  .details-associations {
    width: 100%;
  }
}
