.documents-list {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 50%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--background-light-highlight);

  &:nth-child(3) {
    opacity: 0.6;
  }

  &:nth-child(4) {
    opacity: 0.6;
  }

  &:nth-child(5) {
    opacity: 0.4;
  }
}

.item-meta {
  height: 3px;
  width: 160px;
  margin-bottom: 20px;
  background: var(--background-light-highlight);
}

.item-document {
  height: 4px;
  width: 230px;
  margin-bottom: 20px;
  background: var(--background-light-highlight);
}

.item-button {
  display: inline-block;
  height: 30px;
  width: 80px;
  border: 1px solid var(--background-light-highlight);
  margin-right: 10px;
}

.item-button--green {
  opacity: 0.3;
  border-color: var(--color-green);
  background: var(--color-green);
}
