<div class="item">
  <div class="item-meta">
  </div>

  <div class="item-document">
  </div>

  <div class="item-button"></div>
  <div class="item-button"></div>
</div>

<div class="item">
  <div class="item-meta">
  </div>

  <div class="item-document">
  </div>

  <div class="item-button"></div>
  <div class="item-button"></div>
</div>

<div class="item">
  <div class="item-meta">
  </div>

  <div class="item-document">
  </div>

  <div class="item-button"></div>
  <div class="item-button"></div>
</div>

<div class="item">
  <div class="item-meta">
  </div>

  <div class="item-document">
  </div>

  <div class="item-button"></div>
  <div class="item-button"></div>
</div>

<div class="item">
  <div class="item-meta">
  </div>

  <div class="item-document">
  </div>

  <div class="item-button"></div>
  <div class="item-button"></div>
</div>
