.filterList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.filterList-item {
  min-width: 150px;
  margin-left: 20px;
  font-size: 12px;
}

.label {
  display: flex;
  align-items: center;
}

.label-text {
  margin-left: 4px;
  color: var(--color-grey);
}
