:global(.filters).filters {
  margin-top: 20px;
  border: 1px solid var(--content-background-border);
  border-radius: 3px;
  box-shadow: none;
}

.filterList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 5px;
  position: relative;
}

.filterList-item {
  min-width: 150px;
  font-size: 12px;
}

.label {
  display: flex;
  align-items: center;
}

.label-text {
  margin-left: 4px;
  color: var(--color-black);
}
