.progress-line,
.progress-line:before {
  height: 2px;
  width: 100%;
  margin: 0;
  border-radius: 4px;
}

.progress-line {
  display: flex;
  position: relative;
  bottom: 1px;
  margin-bottom: -2px;
}

.progress-line:before {
  background-color: var(--color-primary-opacity-70);
  content: '';
  animation: progress-line-running-progress 1.8s cubic-bezier(0.5, 0, 0.1, 1)
    infinite;
}

@keyframes progress-line-running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
