.login-forms {
  max-width: 500px;
  margin: 0 auto 30px;
  padding: 0 10px;
}

.input {
  @extend %textInput;
  max-width: 300px;
  padding: 10px;
  width: 100%;
  font-size: 13px;
  border-color: var(--color-green) !important;
  border-bottom-width: 0 !important;

  &:focus {
    border-color: var(--color-green);
  }
}

a.loginButton {
  max-width: 300px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 15px;
  text-align: center;
  background: var(--input-background);
  border: 2px solid #888;
  font-size: 13px;

  &.loginButton--google {
    border: 2px solid darken(#4d90fe, 5%);
    text-shadow: none;
    color: #4d90fe;

    &:focus,
    &:hover {
      background: lighten(#4d90fe, 30%);
    }
  }

  &.loginButton--dummy {
    border: 1px solid var(--color-green);
    background: var(--color-green);
    color: #111;
    text-shadow: none;
    border-radius: 0 0 4px 4px;
    margin-top: -3px;

    &[disabled] {
      pointer-events: none;
    }

    .loginButton-logo {
      left: 15px;
      top: 14px;
      width: 16px;
      opacity: 0.9;
    }

    &:hover[disabled],
    &:focus,
    &:hover {
      margin-top: -3px;
      border-color: var(--color-green);
      background: var(--color-green);
      color: #111;
    }
  }

  &.loginButton--github {
    text-shadow: none;
    color: #000;
    background: #fff;

    &:focus,
    &:hover {
      background: #eee;
    }
  }

  &.loginButton--gitlab {
    border: 2px solid #fc6d26;
    text-shadow: none;
    color: #fc6d26;

    &:focus,
    &:hover {
      background: lighten(#fc6d26, 40%);
    }
  }

  &.loginButton--slack {
    border: 2px solid #913d91;
    text-shadow: none;
    color: #913d91;

    &:focus,
    &:hover {
      background: lighten(#913d91, 79%);
    }
  }

  &.loginButton--discord {
    border: 2px solid #7289da;
    text-shadow: none;
    color: #7289da;

    &:focus,
    &:hover {
      background: lighten(#7289da, 30%);
    }
  }

  &.loginButton--microsoft {
    border: 2px solid #03a5f0;
    text-shadow: none;
    color: #03a5f0;

    &:focus,
    &:hover {
      background: lighten(#03a5f0, 48%);
    }
  }
}

.loginButton-logo {
  position: absolute;
  left: 10px;
  top: 9px;
  width: 26px;
  margin-right: 10px;
  color: #fff;
  font-size: 26px;
  line-height: 1;
}
