.text {
  width: 100%;
  min-height: 140px;
  margin-top: 30px;
  padding: 15px;
  resize: vertical;
  outline: 0;
  border: 1px solid lighten($color-grey, 20%);
  background: darken(#fff, 2%);
  font-family: $font-monospace;
  font-size: 12px;
}

.label {
  display: block;
  margin-top: 10px;
  color: $color-grey;
  font-size: 13px;
  font-style: italic;
  text-align: right;
}
