&.low-percentage {
  .reviewedPercentage {
    color: $color-error;
  }

  .progress {
    background: $color-error;
  }
}

&.medium-percentage {
  .reviewedPercentage {
    color: $color-warning;
  }

  .progress {
    background: $color-warning;
  }
}

&.high-percentage {
  .reviewedPercentage {
    color: $color-success;
  }

  .progress {
    background: $color-success;
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.stat-progress {
  margin-top: 3px;
}

.reviewedStats {
  padding: 2px 7px 1px;
  border-radius: 3px;
  background: lighten($color-grey, 25%);
  color: $color-grey;
  font-family: $font-monospace;
}

.reviewedPercentage {
  margin-right: 10px;
  font-size: 18px;
}

.textInput {
  @extend %textInput;
  padding: 5px 10px;
  width: 100%;
  font-size: 12px;
  font-family: $font-primary;
}


.item-toggle-edit {
  position: relative;
  left: -40px;
  padding-left: 40px;
  margin-right: -40px;

  &:focus,
  &:hover {
    .item-edit-icon {
      opacity: 1;
    }
  }
}
.item-edit-icon {
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  opacity: 0;
  stroke: #ccc;
  transition: $transition-speed $transition-easing;
  transition-property: opacity, stroke;

  &:focus,
  &:hover {
    stroke: #aaa;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;

  .button {
    margin-right: 6px;

    &.button--borderLess:first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}

.deleteDocumentButton {
  opacity: 0;
}
