.documents-list-item {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 0;

  &:hover {
    .deleteDocumentButton {
      opacity: 1;
    }
  }
}

.documents-list-item.empty {
  padding: 0 6px 4px;
  margin-left: -6px;
  margin-bottom: 10px;
  width: calc(100% - 6px);
  background: var(--body-background);
  border-radius: var(--border-radius);

  &.editing {
    padding: 0;
    background: transparent;
    border-radius: 0;
    margin-left: 0;

    .removed-badge {
      display: none;
    }
  }
}

.documents-list-item.low-percentage {
  .reviewedPercentage {
    color: var(--color-error);
  }

  .progress {
    color: var(--color-error);
  }
}

.documents-list-item.medium-percentage {
  .reviewedPercentage {
    color: var(--color-warning);
  }

  .progress {
    color: var(--color-warning);
  }
}

.documents-list-item.high-percentage {
  .reviewedPercentage {
    color: var(--color-success);
  }

  .progress {
    color: var(--color-success);
  }
}

.item-form--deleting {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;

  .deleteDocumentButton {
    opacity: 0;
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.progress {
  margin: 3px 0 10px;
}

.reviewedStats {
  padding: 2px 0 1px 7px;
  color: var(--color-black);
  font-family: var(--font-monospace);
}

.reviewedPercentage {
  margin-right: 10px;
  font-size: 18px;
}

.item-title {
  display: inline-flex;
  width: 100%;
  font-size: 15px;
  margin-left: -2px;
}

.removed-badge {
  font-size: 11px;
  opacity: 0.4;
}

.item-subtitle {
  display: inline-block;
  margin-left: -4px;
  font-size: 14px;
  font-weight: normal;
  color: var(--color-black);
  opacity: 0.3;
}

.item-subtitle-label {
  font-size: 13px;
  font-weight: normal;
}

.textInput {
  @extend %textInput;
  padding: 5px 8px 4px;
  width: 100%;
  font-size: 15px;
  font-family: var(--font-primary);
}

.item-document-deleting-title {
  display: flex;
  color: var(--color-error);
  font-size: 13px;
}

.item-document-deleting-title-loading {
  width: 10px;
  margin-right: 6px;
  fill: var(--color-error);
}

.item-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  &.item-form--editing {
    padding: 15px;
    box-shadow: 0 1px 5px var(--shadow-color);
  }
}

.item-form-content {
  flex-grow: 1;
  min-width: 300px;
  margin-right: 30px;
}

.item-form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.item-form-help {
  display: block;
  margin-bottom: 6px;
  font-size: 11px;
  color: #bbb;

  em {
    margin: 0 2px;
    padding: 0 2px;
    border: 1px solid var(--background-light-border);
    border-radius: var(--border-radius);
    background: var(--background-light);
    font-family: var(--font-monospace);
    font-style: normal;
    color: #777;
  }
}

.item-form-inputs {
  width: 100%;
}

.item-toggle-edit {
  position: relative;
  left: -24px;
  padding-left: 37px;

  &:focus,
  &:hover {
    .item-edit-icon {
      opacity: 1;
    }
  }
}

.item-document {
  margin-left: -26px;
  text-decoration: none;
  color: var(--color-black);
}

.item-edit-button {
  background: transparent;

  &:hover {
    outline: none;
  }
}

.item-edit-icon {
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  opacity: 0;
  stroke: #ccc;
  transition: 0.2s ease-in-out;
  transition-property: opacity, stroke;

  &:focus,
  &:hover {
    stroke: #aaa;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-between;

  :global(.button) {
    margin-right: 6px;

    &:global(.button--borderLess):first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}

.links--editing {
  width: 100%;
  justify-content: flex-start;
  transform: translate3d(0, 0, 0);
}

.deleteDocumentButton-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.deleteDocumentButton {
  opacity: 0;
  padding: 2px 6px !important;
}

@media (max-width: (1300px)) {
  .links {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: (800px)) {
  .item {
    margin-right: 0;
    width: 100%;
  }
}
