@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-error, color-warning, color-success, color-grey, color-black from 'accent-webapp/styles/variables/colors';
@value font-monospace, font-primary from 'accent-webapp/styles/variables/fonts';

.documents-list-item {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  width: 100%;

  &:hover {
    .deleteDocumentButton {
      opacity: 1;
    }
  }
}

.documents-list-item.low-percentage {
  .reviewedPercentage {
    color: color-error;
  }

  .progress {
    color: color-error;
  }
}

.documents-list-item.medium-percentage {
  .reviewedPercentage {
    color: color-warning;
  }

  .progress {
    color: color-warning;
  }
}

.documents-list-item.high-percentage {
  .reviewedPercentage {
    color: color-success;
  }

  .progress {
    color: color-success;
  }
}

.item-form--deleting {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;

  .deleteDocumentButton {
    opacity: 0;
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.progress {
  margin: 3px 0 10px;
}

.reviewedStats {
  padding: 2px 7px 1px;
  border-radius: 3px;
  background: lighten(color-grey, 25%);
  color: color-grey;
  font-family: font-monospace;
}

.reviewedPercentage {
  margin-right: 10px;
  font-size: 18px;
}

.item-title {
  display: inline-flex;
  width: 100%;
  margin-bottom: 7px;
  font-size: 18px;
  cursor: pointer;
}

.item-subtitle {
  display: inline-block;
  margin-left: -4px;
  font-size: 14px;
  font-weight: normal;
  color: #bbb;
}

.item-subtitle-label {
  font-size: 13px;
  font-weight: normal;
}

.textInput {
  @extend %textInput;
  padding: 5px 8px 4px;
  width: 100%;
  font-size: 15px;
  font-family: font-primary;
}

.item-document-deleting-title {
  display: flex;
  color: color-error;
  font-size: 13px;
}

.item-document-deleting-title-loading {
  width: 10px;
  margin-right: 6px;
  fill: color-error;
}

.item-form {
  width: 100%;

  &.item-form--editing {
    padding: 15px;
    box-shadow: 0 1px 5px rgba(#000, 0.06);
  }
}

.item-form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.item-form-help {
  display: block;
  margin-bottom: 6px;
  font-size: 11px;
  color: #bbb;

  em {
    margin: 0 2px;
    padding: 0 2px;
    border: 1px solid #eee;
    border-radius: 3px;
    background: #fafafa;
    font-family: font-monospace;
    font-style: normal;
    color: #777;
  }
}

.item-form-inputs {
  width: 100%;
}

.item-toggle-edit {
  position: relative;
  left: -30px;
  padding-left: 30px;

  &:focus,
  &:hover {
    .item-edit-icon {
      opacity: 1;
    }
  }
}

.item-document {
  margin-left: -20px;
  text-decoration: none;
  color: color-black;
}

.item-edit-button {
  &:hover {
    outline: none;
  }
}

.item-edit-icon {
  position: absolute;
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  opacity: 0;
  stroke: #ccc;
  transition: transition-speed transition-easing;
  transition-property: opacity, stroke;

  &:focus,
  &:hover {
    stroke: #aaa;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  :global(.button) {
    margin-right: 6px;

    &:global(.button--borderLess):first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}

.deleteDocumentButton {
  opacity: 0;
  padding: 2px 6px !important;
}

@media (max-width: (800px)) {
  .item {
    margin-right: 0;
    width: 100%;
  }
}
