.project-settings-collaborators {
  position: relative;
  margin-top: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-light-highlight);
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: var(--color-black);
  font-weight: bold;
  font-size: 17px;
}

.toggleCreateFormButton {
  position: absolute;
  top: 0;
  right: 0;
}

.createForm {
  margin: 20px -5px;
}

.columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.columns-item:first-of-type {
  flex: 1 0 65%;
  margin-right: 25px;
}

.columns-item:last-of-type {
  flex: 1 1 100%;
}

.rolesList {
  padding: 5px 0 20px 20px;
  border-left: 1px solid var(--background-light-highlight);
}

.rolesList-title {
  display: block;
  padding-bottom: 5px;
  margin: 15px 0 0;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 12px;

  &:first-of-type {
    margin-top: 0;
  }
}

.rolesList-text {
  color: var(--color-black);
  font-size: 12px;
}

@media (max-width: var(--screen-md)) {
  .rolesList {
    display: none;
  }
}
