& {
  margin-top: 20px;
}

.item {
  position: relative;
  padding-bottom: 30px;
  padding-left: 38px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;

  &:nth-child(2) {
    opacity: 0.6;

    .item-author {
      width: 120px;
    }

    .item-key {
      width: 150px;
    }

    .item-icon {
      background: rgba($color-primary, 0.3);
    }
  }

  &:nth-child(3) {
    opacity: 0.4;
  }

  &:nth-child(4) {
    opacity: 0.2;
  }
}

.item-icon {
  position: absolute;
  left: 1px;
  top: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eee;
}

.item-header {
  margin-bottom: 10px;
}

.item-key {
  display: inline-block;
  height: 3px;
  width: 100px;
  background: rgba($color-primary, 0.5);
}

.item-author {
  display: inline-block;
  height: 4px;
  width: 90px;
  margin-right: 10px;
  background: rgba(#000, 0.2);
}

.item-text {
  display: inline-block;
  height: 3px;
  width: 120px;
  margin-right: 10px;
  background: rgba(#000, 0.07);
}

.item-content {
  width: 100%;
  height: 30px;
  background: #fafafa;
}
