<div class="item">
  <div class="item-header">
    <div class="item-icon"></div>
    <span class="item-author"></span>
    <span class="item-text"></span>
    {{#if showTranslationLink}}
      <span class="item-key"></span>
    {{/if}}
  </div>
  <div class="item-content"></div>
</div>
<div class="item">
  <div class="item-header">
    <div class="item-icon"></div>
    <span class="item-author"></span>
    <span class="item-text"></span>
    {{#if showTranslationLink}}
      <span class="item-key"></span>
    {{/if}}
  </div>
  <div class="item-content"></div>
</div>
<div class="item">
  <div class="item-header">
    <div class="item-icon"></div>
    <span class="item-author"></span>
    <span class="item-text"></span>
    {{#if showTranslationLink}}
      <span class="item-key"></span>
    {{/if}}
  </div>
  <div class="item-content"></div>
</div>