<div local-class="activities-list">
  <div local-class="item">
    <div local-class="item-header">
      <div local-class="item-icon"></div>
      <span local-class="item-author"></span>
      <span local-class="item-text"></span>
      {{#if showTranslationLink}}
        <span local-class="item-key"></span>
      {{/if}}
    </div>
    <div local-class="item-content"></div>
  </div>
  <div local-class="item">
    <div local-class="item-header">
      <div local-class="item-icon"></div>
      <span local-class="item-author"></span>
      <span local-class="item-text"></span>
      {{#if showTranslationLink}}
        <span local-class="item-key"></span>
      {{/if}}
    </div>
    <div local-class="item-content"></div>
  </div>
  <div local-class="item">
    <div local-class="item-header">
      <div local-class="item-icon"></div>
      <span local-class="item-author"></span>
      <span local-class="item-text"></span>
      {{#if showTranslationLink}}
        <span local-class="item-key"></span>
      {{/if}}
    </div>
    <div local-class="item-content"></div>
  </div>
</div>
