// Variables
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/dimensions';
@import 'variables/transitions';
@import 'variables/power-select';

@import 'modal';

@import 'reset';
@import 'base';
@import 'classes';
@import 'reset-select';

@import 'html-components/sub-navigation';
@import 'html-components/filters';
@import 'html-components/wrapper';
@import 'html-components/power-select';

@import 'html-components/form/button';
@import 'html-components/form/label';

@import 'pod-styles';

div.emoji-picker {
  z-index: 3001;
  border: 0;
  box-shadow: 0 3px 15px rgba($color-black, 0.14);
  overflow: hidden;

  .emoji-picker__tab-body h2 {
    display: none;
  }

  .emoji-picker__variant-overlay {
    background: rgba(#fff, 0.7);
  }

  .emoji-picker__variant-popup-close-button {
    display: none;
  }

  .emoji-picker__variant-popup {
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba($color-black, 0.1);
  }

  .emoji-picker__search:focus {
    border-color: transparent;
    box-shadow: 0 3px 10px rgba($color-black, 0.1);
  }

  .emoji-picker__emoji:focus,
  .emoji-picker__emoji:hover,
  .emoji-picker__tab:hover {
    background: #eee;
  }

  .emoji-picker__tab.active {
    background: #bbb;
  }

  .emoji-picker__search {
    padding-left: 0.6em;
  }

  .emoji-picker__tab svg,
  .emoji-picker__tab path {
    box-sizing: content-box;
  }

  .emoji-picker__search-icon {
    top: 5px;
  }
}
