%textInput {
  transition: 0.2s ease-in-out;
  transition-property: border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: 4px;
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;

  &:focus {
    border: 2px solid var(--color-primary);
  }
}
