%textInput {
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;
  max-height: 200px;

  &::-moz-selection {
    background: color-mix(in srgb, var(--color-primary) 70%, transparent);
  }

  &::selection {
    background: color-mix(in srgb, var(--color-primary) 70%, transparent);
  }

  &:focus {
    border: 2px solid var(--color-primary);
  }

  &:disabled {
    color: var(--color-grey);
    background: var(--background-light);
  }
}
