.resetSelect {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
  }

  &:after {
    content: '›';
    transform: rotate(90deg);
    top: 50%;
    right: 0;
  }
}

.resetSelect-tag {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
}
