_build/
.git/
.elixir_ls
priv/static/webapp
priv/static/jipt
deps/
test/

.*
*.md
docker-compose.yml
Makefile
Procfile
Dockerfile
Aptfile
elixir_buildpack.config
phoenix_static_buildpack.config
logo.svg
app.json
coveralls.json
./package.json
./package-lock.json

node_modules
webapp/node_modules
webapp/tmp
webapp/tests
webapp/dist
webapp/webapp-dist
jipt/node_modules
jipt/.cache
jipt/dist
jipt/webapp-dist
cli
