{
  "globals": {
    "JsDiff": true,
    "Spinner": true
  },
  "plugins": [
    "ember",
    "mirego"
  ],
  "extends": [
    "plugin:mirego/recommended",
    "prettier"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "no-irregular-whitespace": 0,
    "ember/jquery-ember-run": 2,
    "ember/use-brace-expansion": 2,
    "ember/no-side-effects": 2,
    "ember/order-in-routes": 2,
    "ember/order-in-models": 2,
    "ember/order-in-controllers": 2,
    "ember/no-empty-attrs": 2,
    "ember/closure-actions": 2
  }
}
