# App artifacts
_build
db
tmp
doc
deps
*.ez
cover
node_modules

# Generate on crash by the VM
erl_crash.dump

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

test.json

.env*

priv/static/webapp
priv/static/jipt
webapp/node_modules
webapp/tmp
webapp/dist
webapp/webapp-dist
jipt/node_modules
jipt/.cache
jipt/dist
jipt/jipt-dist
cli/node_modules
cli/.cache
cli/dist
cli/tmp
cli/lib
cli/*-debug.log
cli/*-error.log
cli/.oclif.manifest.json
.elixir_ls

.idea
