.translation-splash-file {
  margin-bottom: 20px;
}

.language {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--color-black);
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  transition-property: color;

  &:focus,
  &:hover {
    opacity: 0.8;

    .back-icon {
      transform: translateX(-2px);
    }
  }
}

.updatedAt {
  color: var(--color-grey);
  font-size: 11px;
  font-style: italic;
}

.back-icon {
  width: 11px;
  height: 11px;
  stroke: var(--color-black);
  transition: 0.2s ease-in-out;
  transition-property: stroke transform;
}

.key {
  margin-bottom: 3px;
  font-family: var(--font-monospace);
  font-weight: bold;
  font-size: 22px;
  color: var(--color-primary);
  line-height: 1.3;
}

.key-prefix {
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: var(--color-grey);
}

.version-tag {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  font-family: var(--font-monospace);
  font-weight: normal;
  color: #888;
}

.removedBadge {
  font-size: 12px;
  color: var(--color-error);
}

.badges {
  display: flex;
  align-items: center;

  > * {
    margin-right: 6px;
  }
}

@media (max-width: 640px) {
  .language {
    margin-top: 20px;
  }
}
