@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-black, color-green, color-error from 'accent-webapp/styles/variables/colors';
@value font-monospace from 'accent-webapp/styles/variables/fonts';

.translation-splash-file {
  margin-bottom: 40px;
}

.language {
  display: block;
  margin-bottom: 6px;
  color: color-black;
  color: var(--color-black);
  font-size: 14px;
  text-decoration: none;
  transition: transition-speed transition-easing;
  transition-property: color;

  &:focus,
  &:hover {
    opacity: 0.8;

    .back-icon {
      transform: translateX(-2px);
    }
  }
}

.back-icon {
  width: 11px;
  height: 11px;
  stroke: color-black;
  stroke: var(--color-black);
  transition: transition-speed transition-easing;
  transition-property: stroke transform;
}

.key {
  margin-bottom: 3px;
  font-family: font-monospace;
  font-weight: bold;
  font-size: 22px;
  color: color-green;
  color: var(--color-primary);
  line-height: 1.3;
}

.key-prefix {
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: #c8c8c8;
}

.version-tag {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  font-family: font-monospace;
  font-weight: normal;
  color: #888;
}

.removedBadge {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: color-error;
}

.conflictedBadge {
  transition: transition-speed transition-easing;
  transition-property: border-color, color, background;
  display: inline-block;
  padding: 1px 6px 1px 5px;
  background: color-green;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  &:focus,
  &:hover {
    color: darken(color-green, 10%);
    background: lighten(color-green, 38%);
    border-color: lighten(color-green, 20%);
  }
}
