& {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  margin-bottom: 30px;
  margin-right: 40px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba($color-black, 0.15);
  width: calc(50% - 40px);
  border-radius: 3px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: $transition-speed $transition-easing;
    transition-property: background;
  }

  &:focus::after,
  &:hover::after {
    background: rgba(#fff, 0.94);
  }

  &:focus,
  &:hover {
    .links {
      opacity: 1;
    }
  }
}

.item-title {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 16px;
  color: $color-black;
  color: var(--color-black);
}

.item-subtitle {
  display: inline-block;
  margin-left: -4px;
  font-size: 14px;
  font-weight: normal;
  color: #bbb;
}

.item-subtitle-label {
  font-size: 13px;
  font-weight: normal;
}

.links {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: $transition-speed $transition-easing;
  transition-property: opacity;

  .button {
    margin-right: 6px;

    &.button--borderLess:first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}
