& {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  margin-bottom: 30px;
  margin-right: 40px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba($color-black, 0.15);
  width: calc(50% - 40px);
  border-radius: 3px;

  &:hover {
    .deleteDocumentButton {
      opacity: 1;
    }
  }
}

.item-title {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 16px;
  color: $color-black;
  color: var(--color-black);
  cursor: pointer;
}

.item-subtitle {
  display: inline-block;
  margin-left: -4px;
  font-size: 14px;
  font-weight: normal;
  color: #bbb;
}

.item-subtitle-label {
  font-size: 13px;
  font-weight: normal;
}

@media (max-width: (800px)) {
  .item {
    margin-right: 0;
    width: 100%;
  }
}
