.project-settings-badges {
  margin-top: 30px;
}

.text {
  max-width: 490px;
  margin: 10px 0 15px;
  font-size: 13px;
  font-style: italic;
}

.badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.badge-title {
  margin: 0 10px 0 0;
  font-size: 13px;
  color: #bbb;
}

.badge-code {
  display: inline-block;
  width: 100%;
  margin: 10px 0 0;
  padding: 8px;
  overflow-x: scroll;
  word-break: keep-all;
  font-family: var(--font-monospace);
  font-size: 11px;
  background: var(--background-light);
  border: 2px solid var(--background-light-highlight);
  border-radius: 3px;
  transition-property: border-color, box-shadow;
  transition: 0.3s ease-in-out;
  color: var(--color-black);

  &:focus {
    outline: none;
    border-color: var(--color-primary-opacity-70);
    box-shadow: 0 0 3px 2px var(--color-primary-opacity-10);

    &::-moz-selection {
      background: var(--color-primary-opacity-10);
    }

    &::selection {
      background: var(--color-primary-opacity-10);
    }
  }
}
