@value color-error from 'accent-webapp/styles/variables/colors';
@value font-primary from 'accent-webapp/styles/variables/fonts';
@value screen-sm from 'accent-webapp/styles/variables/dimensions';

.translation-comment-form {
  margin: 30px 0;
}

.form-content {
  display: flex;
  align-items: flex-start;

  .label {
    padding: 9px 12px 10px;
  }
}

.error {
  display: block;
  margin-bottom: 10px;
  color: color-error;
  font-size: 13px;
  font-weight: bold;
}

.inputText {
  @extend %textInput;
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  font-family: font-primary;
  font-size: 13px;
}

@media (max-width: (screen-sm)) {
  .form-content {
    flex-direction: column;
  }

  .inputText {
    margin-bottom: 10px;
  }
}
