.translation-comment-form {
  margin: 30px 0;
}

.form-content {
  display: flex;
  align-items: flex-start;

  .label {
    padding: 9px 12px 10px;
  }
}

.error {
  display: block;
  margin-bottom: 10px;
  color: var(--color-error);
  font-size: 13px;
  font-weight: bold;
}

.inputText {
  @extend %textInput;
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 13px;
}

@media (max-width: var(--screen-sm)) {
  .form-content {
    flex-direction: column;
  }

  .inputText {
    margin-bottom: 10px;
  }
}
