<form {{action 'submit' on='submit'}} class="form">
  {{#if error}}
    <span class="error">
      {{t 'components.translation_comment_form.submit_error'}}
    </span>
  {{/if}}

  <div class="form-content">
    {{quick-submit-textarea
      onSubmit=(action 'submit')
      rows=3
      value=text
      class='inputText'
      placeholder=(t 'components.translation_comment_form.comment_placeholder')
    }}

    {{#async-button
      loading=loading
      class='button button--filled'
    }}
      {{t 'components.translation_comment_form.comment_button'}}
    {{/async-button}}
  </div>
</form>
