.translation-comments-subscriptions-item {
  display: flex;
  align-items: flex-start;
  margin: 0 0 10px;
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: color;

  &:last-child {
    margin: 0;
  }

  &:hover {
    color: #222;

    .user-email {
      color: #333;
    }
  }
}

.translation-comments-subscriptions-item.currentUser {
  font-weight: bold;
  color: #444;
}

.user {
  margin-left: 7px;
}

.user-email {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #777;
}

.checkbox {
  display: block;
  flex-shrink: 0;
  margin-top: 3px;
  cursor: pointer;
}
