<div local-class="translation-comments-subscriptions">
  <Input @type="checkbox" class="checkbox" @checked={{isSubscribed}} />

  <span class="user">
    {{collaborator.user.fullname}}

    <span class="user-email">
      {{collaborator.email}}
    </span>
  </span>
</div>
