.project-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  margin-top: -64px;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  justify-content: space-between;
}

.footer {
  margin: 0px 10px;
}

.back-to-projects {
  display: flex;
  gap: 4px;
  opacity: 0.6;
  align-items: center;
  margin: 10px 0;
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 5px 0;
  font-size: 11px;
  color: var(--text-color-normal);
  transition: 0.2s ease-in-out;
  transition-property: opacity;
  &:focus,
  &:hover {
    opacity: 1;
  }
}

.back-to-projects-icon {
  width: 12px;
}

.project {
  padding: 13px 10px 12px 14px;
  margin-left: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-black);
  text-decoration: none;
  line-height: 1.2;
}

.project-logo {
  position: relative;
  display: flex;
  align-items: center;
  top: 2px;
  font-size: 22px;
  margin-right: 10px;
  line-height: 1.2;

  svg {
    width: 22px;
    height: 22px;

    circle {
      fill: var(--logo-background);
    }

    path {
      fill: var(--logo-foreground);
    }
  }
}

.project-name {
  margin-top: 5px;
}

.search {
  margin: 7px 0 12px 8px;
  width: calc(100% - 15px);
  position: relative;
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 15px;
  height: 15px;
  stroke: var(--input-border-color);
}

.search-input {
  width: 100%;
  padding: 6px 5px 6px 26px;
  transition: 0.2s ease-in-out;
  transition-property: padding, background, border, border-radius, box-shadow;
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--text-color-normal);
  font-size: 12px;

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    outline: none;
    border-radius: var(--border-radius);
    box-shadow:
      0 1px 2px var(--shadow-color),
      0 2px 8px var(--shadow-color);
  }
}

.session {
  display: flex;
  gap: 4px;
  margin: 0 0 5px;
}

.session-picture {
  width: 18px;
  height: 18px;
  border-radius: var(--border-radius);
}

.session-username {
  opacity: 0.5;
  margin-right: 15px;
  font-size: 11px;
}

@media (max-width: 800px) {
  .project-navigation {
    height: auto;
  }

  .search {
    display: none;
  }
  .session {
    display: none;
  }

  .back-to-projects-text {
    display: none;
  }

  .project {
    padding: 15px 0 25px 14px;
  }

  .project-name {
    display: none;
  }
}
