& {
  margin-top: 30px;
}

.item {
  padding: 0 0 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;

  &:nth-child(2) {
    opacity: 0.6;
  }

  &:nth-child(3) {
    opacity: 0.2;
  }
}

.item-language {
  height: 4px;
  width: 140px;
  margin-bottom: 25px;
  background: #ddd;
}

.item-text {
  height: 3px;
  width: 340px;
  margin-bottom: 6px;
  background: #eee;

  &:last-child {
    margin-bottom: 0;
  }
}
