<div local-class="related-translations-list">
  <div class="item">
    <div class="item-language"></div>
    <div class="item-text"></div>
    <div class="item-text"></div>
    <div class="item-text"></div>
  </div>
  <div class="item">
    <div class="item-language"></div>
    <div class="item-text"></div>
    <div class="item-text"></div>
    <div class="item-text"></div>
  </div>
  <div class="item">
    <div class="item-language"></div>
    <div class="item-text"></div>
    <div class="item-text"></div>
    <div class="item-text"></div>
  </div>
</div>
