.conflicts-items {
  margin-top: 60px;
}

.item {
  padding: 15px 10px 20px;
  margin-bottom: 15px;
  background: var(--background-light);

  &:nth-child(2) {
    opacity: 0.6;
    background: var(--body-background);
  }

  &:nth-child(3) {
    opacity: 0.4;
  }
}

.item-key {
  height: 5px;
  width: 120px;
  margin-bottom: 20px;
  background: var(--color-primary-opacity-10);
}

.item-conflict {
  margin-bottom: 20px;
}

.item-conflict-previous {
  height: 3px;
  width: 200px;
  margin-bottom: 5px;
  background: var(--background-light);
}

.item-conflict-text-border {
  height: 1px;
  width: 100%;
  border-top: 1px dashed var(--background-light);
  margin: 10px 0;
}

.item-conflict-current {
  height: 3px;
  width: 250px;
  margin-bottom: 5px;
  opacity: 0.1;
  background: var(--color-success);
}

.item-textarea {
  height: 40px;
  width: 100%;
  margin-right: 20px;
  border: 1px solid var(--background-light-highlight);
}

.item-button {
  height: 30px;
  width: 130px;
  border: 1px solid var(--background-light-highlight);
  background: var(--body-background);
}
