<div class="item">
  <div class="item-key"></div>
  <div class="item-conflict">
    <div class="item-conflict-previous"></div>
    <div class="item-conflict-previous"></div>
    <div class="item-conflict-text-border"></div>
    <div class="item-conflict-current"></div>
    <div class="item-conflict-current"></div>
  </div>

  <div class="item-actions">
    <div class="item-textarea"></div>
    <div class="item-button"></div>
  </div>
</div>
<div class="item">
  <div class="item-key"></div>
  <div class="item-conflict">
    <div class="item-conflict-previous"></div>
    <div class="item-conflict-text-border"></div>
    <div class="item-conflict-current"></div>
  </div>

  <div class="item-actions">
    <div class="item-textarea"></div>
    <div class="item-button"></div>
  </div>
</div>
<div class="item">
  <div class="item-key"></div>
  <div class="item-conflict">
    <div class="item-conflict-previous"></div>
    <div class="item-conflict-previous"></div>
    <div class="item-conflict-previous"></div>
    <div class="item-conflict-text-border"></div>
    <div class="item-conflict-current"></div>
    <div class="item-conflict-current"></div>
    <div class="item-conflict-current"></div>
  </div>

  <div class="item-actions">
    <div class="item-textarea"></div>
    <div class="item-button"></div>
  </div>
</div>
