<div local-class="conflicts-items">
  <div local-class="item">
    <div local-class="item-key"></div>
    <div local-class="item-conflict">
      <div local-class="item-conflict-previous"></div>
      <div local-class="item-conflict-previous"></div>
      <div local-class="item-conflict-text-border"></div>
      <div local-class="item-conflict-current"></div>
      <div local-class="item-conflict-current"></div>
    </div>
    <div local-class="item-actions">
      <div local-class="item-textarea"></div>
      <div local-class="item-button"></div>
    </div>
  </div>
  <div local-class="item">
    <div local-class="item-key"></div>
    <div local-class="item-conflict">
      <div local-class="item-conflict-previous"></div>
      <div local-class="item-conflict-text-border"></div>
      <div local-class="item-conflict-current"></div>
    </div>
    <div local-class="item-actions">
      <div local-class="item-textarea"></div>
      <div local-class="item-button"></div>
    </div>
  </div>
  <div local-class="item">
    <div local-class="item-key"></div>
    <div local-class="item-conflict">
      <div local-class="item-conflict-previous"></div>
      <div local-class="item-conflict-previous"></div>
      <div local-class="item-conflict-previous"></div>
      <div local-class="item-conflict-text-border"></div>
      <div local-class="item-conflict-current"></div>
      <div local-class="item-conflict-current"></div>
      <div local-class="item-conflict-current"></div>
    </div>
    <div local-class="item-actions">
      <div local-class="item-textarea"></div>
      <div local-class="item-button"></div>
    </div>
  </div>
</div>
