.jipt-translations-list {
  margin: 20px 0;
  border-top: 1px solid #eee;
}

.item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 7px 15px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.2s ease-in-out;
  transition-property: padding, background;

  &:focus,
  &:hover {
    background: var(--background-light);
    color: var(--color-black);
  }
}
