<div local-class="jipt-translations-list">
  {{#each @translations key="id" as |translation|}}
    <LinkTo
      @route="logged-in.jipt.translation"
      @model={{translation.id}}
      local-class="item"
    >
      <JiptTranslationsList::Item @translation={{translation}} />
    </LinkTo>
  {{/each}}
</div>
