& {
  width: 100%;
  margin: 0 30px;
}

.heroTitle {
  display: block;
  margin: 20px 0 40px;
  max-width: 350px;
  font-weight: 300;
}

.heroTitle-title {
  font-size: 48px;
  color: $color-primary;
}

.heroTitle-text {
  font-size: 18px;
  color: lighten($color-grey, 10%);
}

.subtitle {
  padding-bottom: 5px;
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.section,
.link {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
}

.link {
  padding: 20px;
  margin-bottom: 11px;
  box-shadow: 0 2px 10px rgba($color-primary, 0.2);
  border-radius: 4px;
  color: $color-primary;
  text-decoration: none;
  transition: $transition-speed $transition-easing;
  transition-property: background;

  &:focus,
  &:hover {
    background: rgba($color-primary, 0.1);

    .link-subtitle {
      color: rgba(darken($color-primary, 20%), 0.5);
    }
  }
}

.link-subtitle {
  display: block;
  font-size: 12px;
  opacity: 0.8;
  color: $color-grey;
  transition: $transition-speed $transition-easing;
  transition-property: color;
}

.section {
  color: $color-grey;
}

.section-icon,
.link-icon {
  width: 22px;
  height: 22px;
  margin-right: 9px;
  margin-top: 2px;
  opacity: 0.7;
}

.link-icon {
  fill: $color-primary;
}

.section-icon {
  fill: $color-grey;
}

.help {
  margin: 20px 0;
  font-size: 12px;
  font-weight: bold;
}

.help-link {
  color: $color-primary;
}
