& {
  width: 100%;
  margin: 0 30px;
}

.heroTitle {
  display: block;
  margin: 0 0 40px;
  max-width: 350px;
  font-weight: 300;
}

.heroTitle-title {
  margin-bottom: 15px;
  line-height: 1;
  font-size: 48px;
  color: $color-green;
  color: var(--color-primary);
}

.heroTitle-text {
  font-size: 18px;
  color: lighten($color-grey, 10%);
}

.subtitle {
  padding-bottom: 5px;
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 16px;
  color: $color-black;
  color: var(--color-black);
}

.links {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.section,
.link {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
}

.link {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba($color-black, 0.15);
  border-radius: 4px;
  color: $color-green;
  color: var(--color-primary);
  text-decoration: none;
  transition: $transition-speed $transition-easing;
  transition-property: background;

  &:focus,
  &:hover {
    background: $color-light-background;
  }
}

.link-subtitle {
  display: block;
  font-size: 12px;
  color: rgba($color-grey, 0.8);
}

.link-icon {
  width: 22px;
  height: 22px;
  margin-right: 9px;
  margin-top: 2px;
  opacity: 0.7;
}

.link-icon {
  fill: $color-green;
  fill: var(--color-primary);
}
