.welcome-project {
  width: 100%;
  margin: 0 30px;
}

.heroTitle {
  display: block;
  margin: 0 0 40px;
  max-width: 350px;
}

.heroTitle-title {
  margin-bottom: 15px;
  line-height: 1;
  font-size: 48px;
  font-weight: 900;
  color: var(--color-primary);
}

.heroTitle-text {
  font-size: 18px;
  font-weight: 300;
  color: var(--color-grey);
}

.subtitle {
  padding-bottom: 5px;
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-black);
}

.links {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.section,
.link {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
}

.link {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px var(--shadow-color), 0 5px 15px var(--shadow-color);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.2s ease-in-out;
  transition-property: background, box-shadow;
  background: var(--content-background);

  &:focus,
  &:hover {
    background: var(--color-primary-opacity-10);
    box-shadow: 0 1px 6px var(--shadow-color), 0 5px 18px var(--shadow-color);
  }
}

.link-subtitle {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: var(--color-black);
}

.link-icon {
  width: 22px;
  height: 22px;
  margin-right: 9px;
  margin-top: 2px;
  opacity: 0.7;
}

.link-icon {
  stroke: var(--color-primary);
}
