.filters {
  padding: 15px;
  border-radius: 0 0 3px 3px;
  background: var(--background-light);
  border-radius: var(--border-radius);
  border: 1px solid var(--background-light-highlight);
  margin-top: -2px;

  &.filters--transparent {
    background: none;
    border-color: transparent;
    box-shadow: none;
  }

  .ember-power-select-trigger {
    padding: 5px 10px;
    background: var(--content-background);
    box-shadow: none;
    border: 1px solid transparent;
    border-color: var(--background-light-highlight);
    color: var(--color-black-opacity-70);

    &:focus,
    &.ember-power-select-trigger--active {
      background: var(--background-light);
      border: 1px solid var(--background-light-highlight);
    }
  }
}

.filters-wrapper {
  position: relative;
}

.queryForm-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.queryForm-filters-column {
  display: flex;
  flex-grow: 1;
  gap: 6px;
}

.queryForm-filters-column--end {
  justify-content: flex-end;
}

.queryForm-filter {
  display: flex;
  align-items: center;
}

.queryForm-filter-label {
  margin-right: 6px;
  color: var(--color-grey);
  font-size: 12px;
  font-style: italic;
}

.queryForm-filter-select {
  font-size: 13px;
  min-width: 130px;
}
