.filters {
  padding: 15px;
  border-radius: 3px;
  background: $color-light-background;

  &.filters--white {
    background: #fff;
  }

  .ember-power-select-trigger {
    padding: 5px 10px;
    background: #fff;
    box-shadow: none;
    border: 1px solid transparent;
    border-color: rgba($color-black, 0.1);
    color: rgba($color-black, 0.8);
    color: var(--color-black-opacity-70);

    &:focus,
    &.ember-power-select-trigger--active {
      background: $color-light-background;
      border: 1px solid rgba($color-black, 0.1);
    }
  }
}

.filters-wrapper {
  position: relative;
}

.queryForm-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.queryForm-filters-column {
  display: flex;
  flex-grow: 1;
}

.queryForm-filter {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-right: 15px;
}

.queryForm-filter-label {
  margin-right: 10px;
  color: $color-grey;
  font-size: 12px;
  font-style: italic;
}

.queryForm-filter-select {
  font-size: 13px;
  min-width: 130px;
}
