.subNavigation {
  border-radius: 3px;
  overflow: hidden;
}

.subNavigation--alt {
  background: $color-light-background;
  border: 1px solid #f1f1f1;

  .subNavigation-list-item {
    margin-right: 6px;
  }

  .subNavigation-list-item-link {
    padding: 10px 15px 10px 10px;

    &.active {
      color: $color-green;
      color: var(--color-primary);
    }
  }
}

.subNavigation-list {
  display: flex;
  align-items: stretch;
  position: relative;
  left: -6px;
  z-index: 10;
}

.subNavigation-list-item {
  padding: 0 5px 0;
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }
}

.subNavigation-list-item-link {
  transition: $transition-speed $transition-easing;
  transition-property: color, border-color, background;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 5px 5px 6px 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: $color-grey;

  &:focus {
    color: $color-green;
    color: var(--color-primary);

    .subNavigation-list-item-link-icon {
      stroke: $color-green;
      stroke: var(--color-primary);
    }
  }

  &:hover {
    background: #f3f3f3;
  }

  &.active {
    .subNavigation-list-item-link-icon {
      stroke: $color-green;
      stroke: var(--color-primary);
    }
  }
}

.subNavigation-list-item-link-icon {
  transition: $transition-speed $transition-easing;
  transition-property: stroke;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  stroke: rgba($color-grey, 0.8);
}

@media (max-width: ($screen-md)) {
  .subNavigation-list {
    justify-content: space-between;
  }

  .subNavigation-list-item-link {
    flex-direction: column;
    font-size: 12px;
    text-align: center;
  }

  .subNavigation-list-item-link-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: ($screen-sm)) {
  .subNavigation-list-item {
    width: 100%;
    margin-right: 0;
  }

  .subNavigation-list-item-link-text {
    display: none;
  }

  .subNavigation--alt {
    .subNavigation-list-item-link {
      padding: 8px 15px 5px 15px;
    }
  }
}
