<button local-class="button {{if @loading "button--loading"}}" ...attributes>
  <div local-class="content">
    <span local-class="label">{{yield}}</span>

    {{inline-svg "/assets/loading.svg" local-class="loading"}}
  </div>
</button>
