.translations-list-item {
  transition: 0.2s ease-in-out;
  transition-property: background, transform;
  display: block;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;

  &:focus,
  &:hover {
    background: var(--background-light);

    .item-edit {
      transform: translateX(-50px);
      opacity: 1;
    }
  }

  &.item--editMode {
    background: var(--background-light);
    transform: scale(1.02);

    .item-edit {
      transform: translateX(-50px);
      opacity: 1;
    }

    .item-edit-icon {
      &:focus,
      &:hover {
        stroke: var(--color-error);
      }
    }
  }
}

.item-link {
  text-decoration: none;

  &:focus,
  &:hover {
    .item-key {
      color: var(--color-primary-opacity-50);
    }
  }
}

.item-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.item-edit {
  position: absolute;
  opacity: 0;
  top: 0;
  padding: 2px 8px;
  transform: translateX(-20px);
  transition: 0.2s ease-in-out;
  transition-property: opacity, transform;
}

.item-edit-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  stroke: var(--color-grey);
  transition: 0.2s ease-in-out;
  transition-property: stroke;

  &:focus,
  &:hover {
    stroke: var(--color-green);
    stroke: var(--color-primary);
  }
}

.item-key-prefix {
  display: block;
  font-size: 11px;
  color: #959595;
  font-weight: 300;
}

.item-key {
  display: block;
  transition: 0.2s ease-in-out;
  transition-property: color;
  margin-right: 15px;
  color: var(--color-primary);
  line-height: 1.5;
  word-break: break-all;
  font-family: var(--font-monospace);
  font-size: 12px;
  font-weight: bold;
}

.item-text {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #b4b4b4;
  background: var(--background-light);
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  padding: 6px 10px;
  cursor: text;
  transition: 0.2s ease-in-out;
  transition-property: border-color, color;

  &.item-text--empty {
    font-style: italic;
    font-size: 11px;
    color: #ddd;
  }

  &:hover,
  &:focus {
    border-color: var(--background-light-highlight);
  }
}

.item-updatedAt {
  margin-left: 5px;
  color: var(--color-grey);
  font-size: 11px;
}

.item-textEdit {
  margin-top: 10px;
  position: relative;
}

.item-textEdit-cancel {
  margin-right: 20px;
  color: var(--color-grey);
  font-size: 12px;
  cursor: pointer;
}

.item-textEdit-button {
  padding: 1px 9px !important;
  position: absolute !important;
  top: 6px !important;
  right: 16px !important;
}

@media (max-width: 800px) {
  .item-edit {
    display: none;
  }
}
