@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-light-background, color-error, color-green, color-grey from 'accent-webapp/styles/variables/colors';

.translations-list-item {
  transition: transition-speed transition-easing;
  transition-property: background, transform;
  display: block;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;

  &:focus,
  &:hover {
    background: color-light-background;

    .item-edit {
      transform: translateX(-50px);
      opacity: 1;
    }
  }

  &.item--editMode {
    background: color-light-background;
    transform: scale(1.02);

    .item-edit {
      transform: translateX(-50px);
      opacity: 1;
    }

    .item-edit-icon {
      &:focus,
      &:hover {
        stroke: color-error;
      }
    }
  }
}

.item-link {
  text-decoration: none;

  &:focus,
  &:hover {
    .item-key {
      color: color-green;
      color: var(--color-primary);
    }
  }
}

.item-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.item-edit {
  position: absolute;
  opacity: 0;
  top: 0;
  padding: 2px 8px;
  transform: translateX(-20px);
  transition: 0.2s ease-in-out;
  transition-property: opacity, transform;
}

.item-edit-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  stroke: color-grey;
  transition: transition-speed transition-easing;
  transition-property: stroke;

  &:focus,
  &:hover {
    stroke: color-green;
    stroke: var(--color-primary);
  }
}

.item-key-prefix {
  display: block;
  font-size: 11px;
  color: #959595;
  font-weight: 300;
}

.item-key {
  display: block;
  @extend %translationKeyBase;
  transition: transition-speed transition-easing;
  transition-property: color;
  margin-right: 15px;
  line-height: 1.5;
  font-size: 12px;
  font-weight: bold;
}

.item-text {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #b4b4b4;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: text;
  transition: transition-speed transition-easing;
  transition-property: border-color, color;

  &.item-text--empty {
    font-style: italic;
    font-size: 11px;
    color: #ddd;
  }

  &:hover,
  &:focus {
    border-color: darken(#eee, 5%);
    color: darken(#b4b4b4, 10%);
  }
}

.item-updatedAt {
  margin-left: 5px;
  color: color-grey;
  font-size: 11px;
}

.item-textEdit {
  margin-top: 10px;
  position: relative;
}

.item-textEdit-cancel {
  margin-right: 20px;
  color: color-grey;
  font-size: 12px;
  cursor: pointer;
}

.item-textEdit-button {
  padding: 1px 9px !important;
  position: absolute !important;
  top: 6px !important;
  right: 16px !important;
}

@media (max-width: 800px) {
  .item-edit {
    display: none;
  }
}
