.translation-edit-lint-message {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin-bottom: 5px;
  background: var(--background-light);
  border-left: 2px solid var(--background-light-highlight);
  font-size: 12px;

  :global(.ember-power-select-trigger) {
    border: 0;
    margin-left: 4px;
    padding: 3px 8px 3px 6px;
    background: transparent;
    font-size: 12px;
  }

  :global(.ember-power-select-status-icon):after {
    left: -12px;
    color: #aaa;
  }

  :global(.ember-power-select-selected-item) {
    margin-right: 10px;
  }

  :global(.ember-basic-dropdown-trigger)[aria-expanded='true'],
  :global(.ember-power-select-status-icon)::after {
    left: -14px;
  }
}

.description {
  color: var(--text-color-normal);
}

.text {
  padding: 0 4px;
  margin-left: 5px;
  background: hsl(
    var(--color-error-hue),
    var(--color-error-saturation),
    var(--color-highlight-lighteness)
  );
  color: var(--color-error);
  font-weight: bold;
}

.arrow {
  margin-left: 5px;
  color: var(--color-grey);
}

.replaceButton {
  margin-left: 10px !important;
}

.single-replacement {
  margin-left: 4px;
  padding: 0 4px;
  background: hsl(
    var(--color-green-hue),
    var(--color-green-saturation),
    var(--color-highlight-lighteness)
  );
  color: var(--color-green);
  font-size: 12px;
  font-weight: bold;
}
