@value color-error, color-success from 'accent-webapp/styles/variables/colors';

.translation-edit-lint-message {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin-bottom: 5px;
  background: #fff;
  border-left: 2px solid lighten(color-error, 10%);
  font-size: 12px;
}

.description {
  color: lighten(color-error, 10%);
}

.text {
  padding: 0 4px;
  margin-left: 5px;
  color: color-error;
  background: lighten(color-error, 38%);
  font-weight: bold;
}

.arrow {
  margin-left: 5px;
  color: #aaa;
}

.replaceButton {
  margin-left: 10px;
}

.ember-power-select-trigger {
  border: 0;
  margin-left: 4px;
  padding: 3px 8px 3px 6px;
  background: transparent;
  font-size: 12px;
}

.single-replacement {
  margin-left: 4px;
  padding: 0 4px;
  background: lighten(color-success, 38%);
  color: color-success;
  font-size: 12px;
  font-weight: bold;
}

.ember-power-select-status-icon:after {
  left: -12px;
  color: #aaa;
}

.ember-power-select-selected-item {
  margin-right: 10px;
}

.ember-basic-dropdown-trigger[aria-expanded='true']
  .ember-power-select-status-icon::after {
  left: -14px;
}
