@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-light-background, color-green, color-black, color-error from 'accent-webapp/styles/variables/colors';

.project-comments-list-item {
  margin-bottom: 45px;
}

.translationCommentsList {
  background: color-light-background;
  border-radius: 3px;
}

.item-link {
  transition: transition-speed transition-easing;
  transition-property: color;
  @extend %translationKeyBase;
  display: inline-block;
  color: color-green;
  color: var(--color-primary);
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;

  &:focus,
  &:hover {
    color: darken(color-green, 15%);
    color: var(--color-primary-darken-10);
  }
}

.item-header {
  margin-bottom: 10px;
}

.item-key-prefix {
  display: block;
  margin: 6px 0 0;
  font-size: 11px;
  color: #959595;
  font-weight: 300;
}

.item-language {
  transition: transition-speed transition-easing;
  transition-property: color;
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: color-black;
  color: var(--color-black);
}

.item-badge {
  font-size: 12px;
  color: color-green;
  color: var(--color-primary);
  text-decoration: none;
}

.removedBadge {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: color-error;
}
