.login-header {
  max-width: 500px;
  margin: 100px auto 40px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.title-name {
  margin-left: 15px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: var(--color-black);
}

.text {
  font-size: 17px;
  line-height: 1.3;
  color: var(--color-grey);
}

.text-emphasis {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  color: var(--color-black);
}

.logo {
  width: 30px;
  height: 30px;
}

@media (max-width: var(--screen-sm)) {
  .login-header {
    margin-top: 30px;
  }
}
