<h1 class="title">
  {{inline-svg 'assets/logo.svg' class='logo'}}

  <span class="title-name">
    {{t 'general.application_name'}}
  </span>
</h1>

<h2 class="text">
  <em class="text-emphasis">{{t 'components.login_header.text'}}</em>
  {{t 'components.login_header.subtext'}}
</h2>
