<header local-class="login-header">
  <h1 local-class="title">
    {{inline-svg "assets/logo.svg" local-class="logo"}}
    <span local-class="title-name">
      {{t "general.application_name"}}
    </span>
  </h1>

  <h2 local-class="text">
    <em local-class="text-emphasis">
      {{t "components.login_header.text"}}
    </em>
    {{t "components.login_header.subtext"}}
  </h2>
</header>
