.dashboard-revisions.low-percentage {
  .numberStat-reviewCompleted,
  .numberStat-reviewPercentage {
    color: var(--color-error);
  }
}

.dashboard-revisions.medium-percentage {
  .numberStat-reviewCompleted,
  .numberStat-reviewPercentage {
    color: var(--color-warning);
  }
}

.dashboard-revisions.high-percentage {
  .numberStat-reviewCompleted,
  .numberStat-reviewPercentage {
    color: var(--color-success);
  }
}

.dashboard-revisions {
  display: flex;
}

.dashboard-revisions > .content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-right: 40px;
}

.numberStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px auto 60px;
}

.numberStat-reviewPercentage {
  letter-spacing: -3px;
  line-height: 1;
  font-size: 82px;
  font-weight: 400;
}

.numberStat-reviewPercentage-icon {
  width: 35px;
  height: 35px;
}

.numberStat-reviewPercentage-unit {
  font-size: 62px;
  opacity: 0.7;
}

.numberStat-totalKeys {
  display: block;
  font-size: 20px;
  font-family: var(--font-monospace);
  color: #ccc;
}

.numberStat-totalKeys-label {
  font-size: 11px;
}

.numberStat-reviewCompleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.numberStat-reviewCompleted-successIcon {
  display: block;
  stroke: var(--color-success);
  width: 52px;
  height: 52px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.slaves {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.empty-slaves-button {
  display: block;
  width: 100%;
  max-width: 340px;
  padding: 15px;
  background: var(--body-background);
  box-shadow: 0 2px 6px var(--shadow-color);
  border-radius: 2px;
  color: var(--color-primary);
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 4px 12px rgba(#000, 0.15);
  }
}

.empty-slaves-button-action {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.empty-slaves-button-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: var(--color-primary);
}

.empty-slaves-button-text {
  display: block;
  margin-top: 10px;
  font-size: 11px;
  color: var(--color-black);
}

.master {
  margin: 0 0 20px;
}

.stats-title-links {
  display: flex;
  justify-content: flex-end;

  .button {
    margin-left: 10px;
    font-size: 11px;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
}

.activities-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
}

.activities-title-icon {
  stroke: #bbb;
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.activities-viewMoreButton {
  display: block !important;
  margin-top: 15px !important;
  text-align: center !important;
}

@media (max-width: var(--screen-md)) {
  .dashboard-revisions > .content {
    width: 100%;
    margin-right: 0;
  }

  .activities {
    display: none;
  }
}
