.translation-edit-form {
  height: 100%;

  :global(.ember-radio-button) {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    color: #444;

    &.checked {
      background: var(--background-light-highlight);
      color: var(--text-color-normal);
    }

    input {
      margin-right: 8px;
    }
  }
}

.label {
  width: 100%;
  padding: 5px 5px 5px 8px;
  margin-bottom: 5px;
  background: hsl(
    var(--color-blue-hue),
    var(--color-blue-saturation),
    var(--color-highlight-lighteness)
  );
  font-size: 12px;
  color: var(--color-blue);
}

.inputText {
  @extend %textInput;
  width: 100%;
  height: 100%;
  padding: 10px 170px 10px 10px;
  font-size: 12px;

  &::placeholder {
    opacity: 0.2;
    font-style: italic;
    font-family: var(--font-primary);
  }
}

.placeholders {
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 3px;
  font-size: 12px;
  background: hsl(
    var(--color-blue-hue),
    var(--color-blue-saturation),
    var(--color-highlight-lighteness)
  );
  color: var(--color-blue);
}

.placeholders-title {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}

.placeholders-text {
  margin-bottom: 6px;
}

.placeholders-text-content {
  max-width: 500px;
}

.placeholders-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--text-color-normal);
  opacity: 0.8;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &.placeholders-item--warning {
    opacity: 1;
    color: var(--color-error);
  }
}

.placeholders-item-icon {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  stroke: var(--color-error);
}

.placeholders-title-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  stroke: var(--color-blue);
}
