.translation-edit-form {
  height: 100%;

  :global(.ember-radio-button) {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: 13px;
    color: #444;

    &.checked {
      background: var(--background-light-highlight);
      color: var(--text-color-normal);
    }

    input {
      margin-right: 8px;
    }
  }
}

.input-wrapper {
  position: relative;
}

.radio-wrapper {
  margin-top: 6px;
  font-size: 16px;
  font-weight: bold;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  margin-right: 14px;
  font-family: var(--font-monospace);

  & > input {
    margin-right: 5px;
  }
}

.label {
  display: inline-block;
  padding: 5px 8px 4px;
  border-radius: var(--border-radius);
  margin-bottom: 5px;
  background: hsl(
    var(--color-blue-hue),
    var(--color-blue-saturation),
    var(--color-highlight-lighteness)
  );
  font-size: 11px;
  color: var(--color-blue);
}

.lint-loading {
  position: absolute;
  left: 0px;
  top: -22px;
  opacity: 0.5;
  font-size: 13px;
}

.lint-loading-icon {
  width: 10px;
}

.inputText {
  @extend %textInput;
  width: 100%;
  height: 100%;
  padding: 10px 130px 10px 10px;
  font-size: 12px;

  &[dir='rtl'] {
    padding: 10px 10px 10px 130px;
  }

  &::placeholder {
    opacity: 0.2;
    font-style: italic;
    font-family: var(--font-primary);
  }
}

.placeholders {
  margin: 0 0 15px;
  padding: 15px;
  border-radius: var(--border-radius);
  font-size: 12px;
  background: hsl(
    var(--color-blue-hue),
    var(--color-blue-saturation),
    var(--color-highlight-lighteness)
  );
  color: var(--color-blue);
}

.placeholders-title {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}

.placeholders-text {
  margin-bottom: 6px;
}

.placeholders-text-content {
  max-width: 500px;
}

.placeholders-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--text-color-normal);
  opacity: 0.8;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &.placeholders-item--warning {
    opacity: 1;
    color: var(--color-error);
  }
}

.placeholders-item-icon {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  stroke: var(--color-error);
}

.placeholders-title-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  stroke: var(--color-blue);
}

.file-comment {
  margin: 0 0 15px;
  padding: 15px 15px 5px;
  border-radius: var(--border-radius);
  font-size: 12px;
  background: var(--background-light);
  color: var(--color-black);
}

.file-comment-title {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}

.file-comment-text {
  margin-bottom: 6px;
}

.file-comment-text-content {
  max-width: 500px;
  font-family: var(--font-monospace);
}

.file-comment-title-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  stroke: var(--color-black);
}
