<div class="form">
  {{acc-select
    searchEnabled=false
    selected=serviceValue
    renderInPlace=true
    options=mappedServices
    onchange=(action (mut service) value='value')
  }}
</div>

{{component
  dataFormComponent
  repository=repository
  defaultRef=defaultRef
  token=token
  errors=errors
  url=url
  project=project
  syncChecked=syncChecked
}}

<div class="actions">
  {{#async-button
    onClick=(action 'submit')
    loading=isCreating
    class='button button--filled'
  }}
    {{t 'components.project_settings.integrations.save'}}
  {{/async-button}}

  {{#if onCancel}}
    <button {{action onCancel}} class="button button--filled button--white">
      Cancel
    </button>
  {{/if}}
</div>
