& {
  padding: 5px 0 20px 20px;
  border-left: 1px solid #eee;
}

.title {
  display: block;
  padding: 0 0 5px;
  margin: 0 0 2px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  color: $color-black;
  color: var(--color-black);
}
