.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  margin: 0 auto;
  max-width: var(--screen-lg);
  position: relative;
  margin-top: 20px;
}

.item {
  flex: 1 1 calc(50% - 10px);
  max-width: 50%;
}

.item-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0 10px 30px;
}

@media (max-width: var(--screen-md)) {
  .item {
    max-width: none;
    width: 100%;
    flex: 1 1 auto;
  }
}
