& {
  margin: 0 auto;
  max-width: $screen-lg;
  position: relative;
  margin-top: 20px;
}

.item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: $transition-speed $transition-easing;
  transition-property: background, color;
  padding: 10px 10px 12px;
  border-bottom: 1px solid #f5f5f5;
  text-decoration: none;
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-primary;
    background: $color-light-grey;
  }
}

.projectSyncedAt {
  display: block;
  margin-top: 4px;
  color: $color-grey;
  font-style: italic;
  font-size: 11px;
}

.projectLanguage {
  color: $color-grey;
  font-size: 12px;
}
