& {
  margin: 0 auto;
  max-width: $screen-lg;
  position: relative;
  margin-top: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }
}

.item {
  flex: 1 1 calc(50% - 10px);
  max-width: 50%;
}

.item-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0 10px 30px;
}
