.related-translations-list-item {
  position: relative;
  margin-bottom: 6px;

  &.empty {
    padding: 35px 10px;
    color: var(--color-grey);
    font-size: 13px;
    font-style: italic;
    text-align: center;
  }
}

.textEmpty {
  margin-bottom: 15px;
}

.revision {
  display: flex;
  align-items: center;
  margin-right: 4px;
  color: var(--color-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;

  &:focus,
  &:hover {
    color: var(--color-primary);
  }
}

.updatedAt {
  margin: 0 6px;
  opacity: 0.6;
  color: var(--color-black);
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 25px;
  margin-bottom: 3px;
}

.textEdit-input {
  @extend %textInput;
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  font-size: 12px;
}

.textEdit-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
}

.textEdit-actions-translate {
  margin-right: 5px;
  background: none;
}

.textEdit-actions-translate-icon {
  width: 12px;
  height: 12px;
}
