.related-translations-list-item {
  position: relative;

  &.empty {
    padding: 35px 10px;
    color: var(--color-grey);
    font-size: 13px;
    font-style: italic;
    text-align: center;
  }
}

.textEmpty {
  margin-bottom: 15px;
}

.revision {
  display: flex;
  align-items: center;
  margin-right: 4px;
  color: var(--color-black);
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;

  &:focus,
  &:hover {
    color: var(--color-primary);
  }
}

.updatedAt {
  margin: 0 6px;
  opacity: 0.6;
  color: var(--color-black);
  font-size: 11px;
  font-style: italic;
}

.header {
  display: flex;
  align-items: center;
  min-height: 25px;
}

.textEdit {
  margin-top: 10px;
}

.textEdit-input {
  @extend %textInput;
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  font-size: 12px;
}

.textEdit-cancel {
  margin-right: 20px;
  opacity: 0.6;
  color: var(--color-black);
  font-size: 12px;
  cursor: pointer;
}

.textEdit-button {
  padding: 1px 9px !important;
  position: absolute !important;
  top: 41px !important;
  right: 14px !important;
}

.textEdit-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textEdit-actions-warning {
  margin-right: 10px;
  font-style: italic;
  font-size: 12px;
  color: #bbb;
}
