@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-black, color-grey from 'accent-webapp/styles/variables/colors';

& {
  padding: 64px 0 20px;
  background-image: linear-gradient(0, transparent, #eee);
}

&.withProject {
  padding-top: 59px;

  .applicationLogo {
    position: absolute;
    padding-right: 10px;
    transition: transition-speed transition-easing;
    transition-property: transform, opacity;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  .content-left:hover {
    .applicationLogo {
      transform: translate3d(-30px, 0, 0);
      opacity: 1;
    }
  }

  .content {
    padding: 0 30px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 0 15px;
  width: 100%;
}

.content-right,
.content-left {
  display: flex;
  align-items: center;
}

.applicationLogo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.link.active .link-image {
  &:focus,
  &:hover {
    transform: rotate(0);
  }
}

.applicationLogo-back,
.applicationLogo-image {
  display: block;
  transition: 0.7s transition-easing;
  transition-property: transform;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.applicationLogo-back {
  color: #bbb;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.applicationLogo-accent,
.applicationLogo-name {
  margin-left: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: color-black;
}

.project {
  margin-left: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: color-black;
  text-decoration: none;
}

.project-logo {
  position: relative;
  display: flex;
  align-items: center;
  top: 2px;
  font-size: 25px;
  margin-right: 10px;

  svg {
    position: relative;
    top: -2px;
    width: 25px;
    height: 25px;
  }
}

.picture {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 3px;
}

.username {
  opacity: 0.5;
  margin-right: 15px;
  font-size: 12px;
}

.search {
  position: relative;
  margin-left: 20px;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 18px;
  height: 18px;
  stroke: #b7b7b7;
}

.search-input {
  padding: 10px 5px 10px 28px;
  border-radius: 50px;
  border: 1px solid lighten(color-grey, 15%);
  transition: 0.2s transition-easing;
  transition-property: padding, border, box-shadow;
  box-shadow: inset 0 1px 2px rgba(color-black, 0.1);

  &::placeholder {
    color: lighten(color-grey, 5%);
  }

  &:hover {
    border-color: color-grey;
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    padding-right: 40px;
    box-shadow: inset 0 1px 2px #fff;
  }
}

@media (max-width: ($screen-md)) {
  & {
    padding: 10px 0;

    .content {
      padding: 0 30px;
    }

    &.withProject {
      padding: 10px 0;
    }
  }

  .search {
    display: none;
  }
}

@media (max-width: ($screen-sm)) {
  .applicationLogo-image {
    width: 18px;
    height: 18px;
  }

  .username {
    font-size: 11px;
  }

  .button {
    padding: 3px 7px 4px;
    font-size: 11px;
  }

  .applicationLogo-name {
    display: none;
  }

  .project {
    display: none;
  }

  .content {
    padding: 0;
  }
}
