.projects-header {
  padding: 64px 0 20px;
  background-image: linear-gradient(
    0,
    transparent,
    var(--gradient-header-color)
  );
}

.projects-header.withProject {
  padding-top: 59px;

  .applicationLogo {
    position: absolute;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
    transition-property: transform, opacity;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  .content-left:hover {
    .applicationLogo {
      transform: translate3d(-30px, 0, 0);
      opacity: 1;
    }
  }

  .content {
    padding: 0 30px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--screen-lg);
  padding: 0 15px;
  width: 100%;
}

.content-right,
.content-left {
  display: flex;
  align-items: center;
}

.applicationLogo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.link.active .link-image {
  &:focus,
  &:hover {
    transform: rotate(0);
  }
}

.applicationLogo-back,
.applicationLogo-image {
  display: block;
  transition: 0.7s ease-in-out;
  transition-property: transform;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.applicationLogo-back {
  color: #bbb;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.applicationLogo-accent,
.applicationLogo-name {
  margin-left: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

.project {
  margin-left: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
  text-decoration: none;
}

.project-logo {
  position: relative;
  display: flex;
  align-items: center;
  top: 2px;
  font-size: 25px;
  margin-right: 10px;

  svg {
    position: relative;
    top: -2px;
    width: 25px;
    height: 25px;

    circle {
      fill: var(--logo-background);
    }

    path {
      fill: var(--logo-foreground);
    }
  }
}

.picture {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 3px;
}

.username {
  opacity: 0.5;
  margin-right: 15px;
  font-size: 12px;
}

.search {
  position: relative;
  margin-left: 20px;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 18px;
  height: 18px;
  stroke: #b7b7b7;
}

.search-input {
  padding: 10px 5px 10px 28px;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  transition-property: padding, border, box-shadow;
  border: 1px solid var(--input-border-color);
  background: var(--input-background);
  box-shadow: inset 0 1px 2px var(--shadow-color);
  color: var(--text-color-normal);

  &::placeholder {
    color: #ccc;
  }

  &:hover {
    border-color: var(--input-border-color);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    padding-right: 40px;
    box-shadow: inset 0 1px 2px var(--background-light),
      0 1px 8px var(--shadow-color);
  }
}

@media (max-width: var(--screen-md)) {
  .projects-header {
    padding: 10px 0;

    .content {
      padding: 0 30px;
    }

    .projects-header.withProject {
      padding: 10px 0;
    }
  }

  .search {
    display: none;
  }
}

@media (max-width: var(--screen-sm)) {
  .applicationLogo-image {
    width: 18px;
    height: 18px;
  }

  .username {
    font-size: 11px;
  }

  :global(.button) {
    padding: 3px 7px 4px;
    font-size: 11px;
  }

  .applicationLogo-name {
    display: none;
  }

  .project-logo {
    display: none;
  }

  .projects-header.withProject,
  .projects-header {
    padding-top: 20px;

    .content {
      padding: 0 12px;
    }
  }
}
