div.skeleton {
  padding: 0 10px;
  margin-left: 18px;
  background: var(--body-background);

  &:after {
    background: var(--body-background);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0,
      var(--body-background) 90%
    );
  }
}
