div.skeleton {
  padding: 25px 10px 0;
  min-height: 100dvh;
  background: var(--content-background);

  &:after {
    background: var(--content-background);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0,
      var(--body-background) 90%
    );
  }
}
