.separator {
  display: block;
  margin: 10px 0;
  background: #eee;
  height: 1px;
  width: 100%;
}

.textHelper {
  margin-bottom: 3px;
  width: 80%;
  color: $color-grey;
  font-size: 12px;
}

.textInput {
  margin-bottom: 8px;
  padding: 5px;
  outline: 0;
  border: 1px solid lighten($color-grey, 20%);
  box-shadow: inset 0 2px 6px rgba($color-black, 0.05);
  background: $color-white;
  font-family: $font-monospace;
  font-size: 12px;
}

.options {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 0;
  margin: 0;
  font-size: 13px;

  .option {
    padding-top: 0;
  }
}

.option {
  flex: 1 1 auto;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 9px 0;
  margin: 0;

  &.option--borderless {
    border-bottom: 0;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

.actions {
  margin-top: 15px;
}

.peekButton,
.fileInput {
  margin-top: 7px;
}

.errorMessage {
  margin: 10px 0;
  color: $color-error;
  font-size: 13px;
  font-weight: bold;
}

.fileSourceName {
  font-size: 14px;
  color: #444;
}

.ember-power-select-trigger {
  padding-left: 10px;
  border: 1px solid #eee;
  background: #fafafa;
  box-shadow: 0 1px 5px rgba(#000, 0.06);
  color: $color-black;
}
