.separator {
  display: block;
  margin: 10px 0;
  background: #eee;
  height: 1px;
  width: 100%;
}

.textHelper {
  margin-bottom: 3px;
  width: 80%;
  color: $color-grey;
  font-size: 12px;
}

.documentHelper {
  display: inline-block;
  margin-bottom: 7px;
  padding: 2px 4px 3px;
  border-radius: 4px;
  background: lighten($color-green, 48%);
  background: var(--color-primary-opacity-10);
  color: $color-green;
  color: var(--color-primary);
  font-size: 11px;

  &.documentHelper--new {
    background: lighten($color-green, 48%);
    color: $color-green;
  }
}

.textInput {
  @extend %textInput;
  margin-bottom: 8px;
  padding: 5px;
  outline: 0;
  border: 1px solid lighten($color-grey, 20%);
  box-shadow: inset 0 2px 6px rgba($color-black, 0.05);
  background: #fff;
  font-family: $font-monospace;
  font-size: 12px;
}

.options {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 13px;

  .option {
    padding-top: 0;
  }
}

.option {
  flex: 1 1 auto;
  width: 100%;
  padding: 9px 0;
  margin: 0;

  &.option--borderless {
    border-bottom: 0;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

.actions {
  margin-top: 15px;
}

.fileInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.fileInputIcon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  stroke: $color-black;
  stroke: var(--color-black);
}

.fileInputTitle {
  display: flex;
  align-items: center;
  margin: 0 0 6px;
  color: $color-black;
  color: var(--color-black);
}

.fileInputHelper {
  max-width: 300px;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: rgba($color-black, 0.7);
  color: var(--color-black-opacity-70);
}

.fileButton {
  margin-top: 7px;
  padding: 9px 30px;

  .button-icon {
    margin-right: 10px;
  }
}

.emptyFile {
  display: flex;

  & > div {
    width: 50%;
  }
}

.emptyFile-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyFile-title {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: $color-black;
  color: var(--color-black);
}

.emptyFile-text {
  margin-bottom: 18px;
  font-size: 13px;
  color: rgba($color-black, 0.5);
  color: var(--color-black-opacity-50);

  & > a {
    text-decoration: none;
    font-style: italic;
    color: rgba($color-green, 0.8);
    color: var(--color-primary-opacity-80);

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.peekButton {
  margin-top: 7px;
}

.errorMessage {
  margin: 10px 0;
  color: $color-error;
  font-size: 13px;
  font-weight: bold;
}

.fileSourceName {
  @extend %textInput;
  padding: 6px 10px;
  font-size: 12px;
  font-family: $font-monospace;
  color: #444;
}

.ember-power-select-trigger {
  padding: 6px 10px;
  border: 1px solid rgba($color-black, 0.1);
  color: rgba($color-black, 0.8);
  color: var(--color-black-opacity-70);
  background: #fafafa;
}
