.commit-file {
  :global(.textInput) {
    @extend %textInput;
    margin-bottom: 8px;
    padding: 5px;
    outline: 0;
    background: #fff;
    font-family: var(--font-monospace);
    font-size: 12px;
  }

  :global(.ember-power-select-trigger) {
    padding: 6px 10px;
    border: 1px solid var(--background-light-highlight);
    background: var(--background-light);
    color: var(--color-black-opacity-70);
  }
}

.textHelper {
  margin-bottom: 3px;
  width: 80%;
  color: var(--color-grey);
  font-size: 12px;
}

.documentHelper {
  display: inline-block;
  margin-bottom: 7px;
  padding: 2px 0 3px;
  border-radius: 4px;
  color: var(--color-primary);
  font-size: 11px;

  &.documentHelper--new {
    color: var(--color-green);
  }
}

.options {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 13px;

  .option {
    padding-top: 0;
  }
}

.option {
  flex: 1 1 auto;
  width: 100%;
  padding: 9px 0;
  margin: 0;

  &.option--borderless {
    border-bottom: 0;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

.actions {
  margin-top: 15px;
}

.fileInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.fileInputIcon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  stroke: var(--color-black);
  stroke: var(--color-black);
}

.fileInputTitle {
  display: flex;
  align-items: center;
  margin: 0 0 6px;
  color: var(--color-black);
  color: var(--color-black);
}

.fileInputHelper {
  max-width: 300px;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-black-opacity-70);
}

.fileButton {
  margin-top: 7px !important;
  padding: 9px 30px !important;

  .button-icon {
    margin-right: 10px !important;
  }
}

.emptyFile {
  display: flex;

  & > div {
    width: 50%;
  }
}

.emptyFile-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instructions-title {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-black);
  color: var(--color-black);
}

.instructions-list,
.instructions-text {
  margin-bottom: 18px;
  font-size: 13px;
  color: var(--color-black);

  em {
    font-style: normal;
    font-weight: bold;
    color: var(--color-primary);
  }
}

.instructions-list {
  list-style: disc;
  padding-left: 15px;
}

.instructions-list-item {
  margin-bottom: 5px;
  font-size: 12px;
}

.peekButton {
  margin-top: 7px !important;
}

.errorMessage {
  margin: 10px 0;
  color: var(--color-error);
  font-size: 13px;
  font-weight: bold;
}

.fileSourceName {
  @extend %textInput;
  padding: 6px 10px;
  font-size: 12px;
  font-family: var(--font-monospace);
  color: #444;
}
