.form {
  margin-bottom: 25px;
  padding: 12px;
  border-radius: var(--border-radius);
  background: var(--background-light);
  border: 1px solid var(--background-light-highlight);

  :global(.ember-power-select-trigger) {
    min-height: 31px;
    max-width: 400px;
    margin-bottom: 10px;
    background: var(--content-background);
    border: 1px solid var(--background-light-highlight);
  }
}

.options {
  margin-top: 10px;
  margin-bottom: 20px;
}

.option {
  margin-bottom: 7px;
}

.optionLabel {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.optionLabelText {
  margin-left: 5px;
}

.optionLabel-icon {
  width: 22px;
  margin-left: 3px;
  transform: rotate(45deg);
  background: var(--color-primary-opacity-25);
  border-radius: 50%;
  padding: 3px;
  color: var(--color-primary);
}
