& {
  margin-top: 30px;
}

.emptyItem {
  padding: 25px 10px;
  margin-bottom: 15px;
  background: $color-white;
  box-shadow: 0 1px 5px rgba($color-black, 0.04);
  border: 1px solid $color-border;
  border-radius: 3px;
  color: $color-grey;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.emptyItem-text {
  margin-bottom: 15px;
}
