.related-translations-list {
  margin-top: 30px;
}

.emptyItem {
  margin: 60px 0 15px;
  color: var(--color-grey);
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.emptyItem-text {
  max-width: 330px;
  margin: 0 auto 15px;
}
