.item-text {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow-x: hidden;
  color: var(--text-color-normal);
  font-size: 16px;

  &.item-text--empty {
    color: var(--color-grey);
    font-style: italic;
  }

  .item-key {
    opacity: 0.5;
    font-size: 11px;
    font-family: var(--font-monospace);
  }
}
