<div local-class="releases-list">
  <div local-class="item">
    <div local-class="item-meta"></div>
    <div local-class="item-document"></div>
    <div local-class="item-button item-button--green"></div>
    <div local-class="item-button"></div>
    <div local-class="item-button"></div>
  </div>
  <div local-class="item">
    <div local-class="item-meta"></div>
    <div local-class="item-document"></div>
    <div local-class="item-button item-button--green"></div>
    <div local-class="item-button"></div>
    <div local-class="item-button"></div>
  </div>
  <div local-class="item">
    <div local-class="item-meta"></div>
    <div local-class="item-document"></div>
    <div local-class="item-button item-button--green"></div>
    <div local-class="item-button"></div>
    <div local-class="item-button"></div>
  </div>
</div>
