<div ...attributes local-class='render' {{did-insert (fn this.setupHighlight)}} {{did-update (fn this.setupHighlight) @content}}>
  <span data-highlight='content' local-class='render-source'>{{yield}}{{@content}}</span>
</div>