& {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($color-black, 0.1);
  color: $color-black;
}

.icon {
  height: 27px;
  width: 27px;
  margin-right: 6px;
  fill: rgba($color-black, 0.3);
}

.title {
  display: block;
  font-size: 22px;
  font-weight: 900;
}
