.project-settings-integrations-list-item {
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--background-light-highlight);
  border-radius: 3px;
}

.details-info {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.details-service {
  font-size: 13px;
  font-weight: bold;
  color: var(--color-black);
}

.details-preview {
  padding-right: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-left: 10px;
  font-size: 13px;
  color: var(--color-black);
}

.details-logo {
  flex: 0 0 20px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.details-actions {
  flex: 0 0 auto;
}
