.conflicts-page {
  background: var(--body-background);
}

.conflicts-page.fullscreen {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  padding: 15px;
}
