.wrapper {
  display: flex;
  margin-top: 30px;

  & > div:first-of-type {
    margin-right: 40px;
    width: 55%;
  }

  & > div:last-of-type {
    margin-right: 0;
    width: 45%;
  }

  & > div:first-of-type:last-of-type {
    width: 100%;
  }
}
