.item {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;

  &:focus,
  &:hover {
    .deleteButton {
      display: inline-block;
    }
  }
}

.item-title {
  display: flex;
  align-items: center;
  font-size: 23px;
  color: var(--color-primary);
}

.item-title-link {
  text-decoration: none;
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
  }
}

.item-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  font-family: var(--font-monospace);
  font-size: 14px;
  font-weight: normal;
  color: #888;
}

.item-tag-icon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  stroke: #aaa;
}

.item-meta {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--color-grey);
}

.item-meta-date {
  opacity: 0.7;
  color: var(--color-grey);
}

.links {
  margin-top: 10px;

  .button {
    margin-right: 6px;

    &.button--borderLess:first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}
