& {
  display: flex;
  position: relative;
  margin: 25px 0;
  border-radius: 0 3px 3px 0;
  z-index: 10;
}

&.rollback,
&.merge,
&.new-slave,
&.uncorrect-all,
&.correct-all,
&.sync {
  left: 9px;
  width: calc(100% + -9px);
  padding: 5px;
  background: #fff;
  border: 1px solid rgba($color-border, 0.5);

  .item-iconContainer {
    top: 3px;
    left: -21px;
    box-shadow: none;
  }

  .item-content {
    width: 100%;
    padding: 5px 5px 0;
    margin-left: -21px;
    background: #fff;
    border-bottom: 0;
  }
}

&.sync {
  padding: 6px 10px 5px;
  background: $color-light-background;
  border-color: transparent;
  border-left-color: $color-green;
  border-left-color: var(--color-primary);

  .item-iconContainer {
    background: $color-green;
    background: var(--color-primary);
    border-color: transparent;
    box-shadow: none;
  }

  .item-iconContainer-icon {
    stroke: #fff;
  }

  .item-stats {
    padding: 0;
    background: lighten($color-green, 46%);
    background: var(--color-primary-lighten-99);
    color: darken($color-green, 25%);
    color: var(--color-primary-darken-50);
  }

  .item-date {
    color: $color-grey;
  }

  .item-details-link {
    color: $color-green;
    color: var(--color-primary);
  }

  .item-content {
    background: var(--color-primary-lighten-95);
    font-size: 14px;
  }

  .item-documentPath {
    color: darken($color-green, 25%);
    color: var(--color-primary-darken-30);
    font-size: 13px;
  }

  .item-user,
  .item-header-content {
    color: darken($color-green, 25%);
    color: var(--color-primary-darken-30);
    font-size: 13px;
  }

  .item-user.item-user--bot {
    padding-left: 23px;
  }

  .item-user.item-user--pictureUrl {
    padding-left: 28px;
  }

  .item-user-icon {
    stroke: darken($color-green, 25%);
    stroke: var(--color-primary-darken-30);
    width: 17px;
    height: 17px;
  }

  .item-user-picture {
    top: -1px;
    width: 21px;
    height: 21px;
  }

  &.compact {
    .item-iconContainer-icon {
      stroke: $color-success;
    }

    .item-user--bot {
      padding-left: 18px;
    }

    .item-user,
    .item-header-content {
      font-size: 12px;
    }

    .item-user-icon {
      width: 14px;
      height: 14px;
    }
  }
}

&.rollback {
  background: $color-light-background;
  border: 1px solid rgba($color-border, 0.3);

  .item-header {
    margin-bottom: 4px;
  }

  .item-iconContainer {
    display: none;
  }

  .item-translationLink {
    margin-top: 2px;
  }

  .item-content {
    padding: 5px 0 0;
    margin: 0;
    background: $color-light-background;
    border-bottom: 0;
  }
}

&.uncorrect-all {
  .item-iconContainer {
    background: $color-error;
    border-color: transparent;
  }

  .item-iconContainer-icon {
    stroke: #fff;
  }

  &.compact {
    .item-iconContainer-icon {
      stroke: $color-error;
    }
  }
}

&.correct-all {
  &.compact {
    .item-iconContainer-icon {
      stroke: $color-success;
    }
  }

  .item-iconContainer {
    background: $color-success;
    border-color: transparent;
  }

  .item-iconContainer-icon {
    stroke: #fff;
  }
}

&.document-delete {
  border-color: lighten($color-error, 35%);

  .item-iconContainer {
    background: $color-error;
    border-color: transparent;
  }

  .item-iconContainer-icon {
    stroke: #fff;
  }

  &.compact {
    .item-iconContainer-icon {
      stroke: $color-error;
    }
  }
}

&.correct-conflict {
  .item-iconContainer {
    border-color: rgba($color-success, 0.4);
  }

  .item-iconContainer-icon {
    stroke: $color-success;
  }
}

&.uncorrect-conflict {
  .item-iconContainer {
    border-color: rgba($color-error, 0.2);
  }

  .item-iconContainer-icon {
    stroke: $color-error;
  }
}

&.conflict-on-corrected {
  .item-iconContainer {
    border-color: lighten($color-error, 35%);
  }

  .item-iconContainer-icon {
    stroke: $color-error;
  }
}

&.conflict-on-proposed {
  .item-iconContainer {
    border-color: lighten($color-warning, 25%);
  }

  .item-iconContainer-icon {
    stroke: $color-warning;
  }
}

&.rollbacked {
  .item-stats,
  .item-translationText,
  .item-actions,
  .item-header {
    opacity: 0.4;
    font-size: 12px;
  }

  .item-translationText {
    padding: 0;
    background: transparent;
  }

  .item-iconContainer {
    background: #fff;
    border-color: rgba($color-grey, 0.4);
  }

  .item-iconContainer-icon {
    width: 11px;
    height: 11px;
    stroke: rgba($color-grey, 0.5);
  }

  &.rollback,
  &.merge,
  &.new-slave,
  &.uncorrect-all,
  &.correct-all {
    border-color: $color-border;

    .item-iconContainer {
      left: -19px;
      top: 6px;
    }
  }

  &.sync {
    border-color: rgba($color-green, 0.1);

    .item-iconContainer {
      left: -19px;
      top: 6px;
    }
  }
}

&.rollback.compact {
  .item-iconContainer {
    top: -2px;
    left: -17px;
    display: block;
  }

  .item-content {
    margin-left: -21px;
  }
}

&.rollbacked.compact,
&.compact {
  width: 100%;
  margin: 12px 0 2px;
  border-color: transparent;
  background: transparent;
  box-shadow: none;

  &:last-of-type {
    .item-content {
      border-bottom: 0;
    }
  }

  .item-stats {
    display: none;
  }

  .item-header {
    font-size: 11px;
    flex-direction: column;
    align-items: flex-start;
  }

  .item-actions {
    margin: 2px 0 0;
    text-align: left;
  }

  .item-content {
    padding-top: 2px;
    background: transparent;
  }

  .item-iconContainer {
    border-color: #fff;
    background: #fff;
  }

  .item-rollback-content {
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 11px;
    background: #f5f5f5;
    color: #888;
  }

  .item-content-rollbacked {
    margin-bottom: 1px;
    font-size: 11px;
  }

  .item-translationText {
    display: none;
  }

  .item-translationLink {
    font-size: 11px;
    margin-left: 0;
    margin-top: 0;
  }

  .item-revisionLink {
    font-size: 11px;
  }

  .item-documentPath {
    font-size: 11px;
  }

  .item-user.item-user--pictureUrl {
    padding-left: 20px;
  }

  .item-user-picture {
    top: 1px;
    width: 15px;
    height: 15px;
  }
}

.item-wrapper {
  display: flex;
  width: 100%;
}

.item-version-tag {
  display: inline-flex;
  align-items: baseline;
  font-size: 12px;
  font-family: $font-monospace;
  color: #aaa;
}

.item-iconContainer {
  display: flex;
  position: relative;
  top: 0;
  flex: 0 0 21px;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid $color-grey;
  box-shadow: 0 0 0 5px #fff;
  background: #fff;
}

.item-iconContainer-icon {
  width: 11px;
  height: 11px;
  flex: 0 0 11px;
  stroke: $color-grey;
}

.item-content {
  flex: 1 1 100%;
  font-size: 13px;
}

&.compact {
  .item-header {
    flex-direction: column;
  }

  .item-actions {
    min-width: 0;
    text-align: left;
  }
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.item-header-content {
  flex: 1 1 auto;
  width: 100%;
  font-size: 12px;
}

.item-user {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: bold;

  &.item-user--pictureUrl {
    padding-left: 21px;
  }

  &.item-user--bot {
    position: relative;
    padding-left: 20px;

    .item-user-icon {
      position: absolute;
      left: -4px;
      top: 1px;
    }
  }
}

.item-user-picture {
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  border-radius: 3px;
}

.item-user-icon {
  margin-right: 0;
  margin-left: 2px;
  width: 14px;
  height: 14px;
  color: #565656;
}

.item-translationFromOperationText,
.item-stats,
.item-translationText {
  margin: 5px 0 10px;
  padding: 8px;
  background: $color-light-background;
  font-size: 12px;
  font-style: italic;
}

.item-translationText-text {
  white-space: pre-wrap;
}

.item-translationFromOperationText {
  background: transparent;
  padding: 5px 0;
  margin: 10px 0 0;
}

.item-stats-label,
.item-translationText-label {
  display: block;
  margin-bottom: 4px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
}

.item-translationText-emptyText {
  color: #ccc;
}

.item-documentPath {
  display: inline-block;
  color: $color-black;
  color: var(--color-black);
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.item-translationLink {
  @extend %translationKeyBase;
  display: block;
  margin-top: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  transition: $transition-speed $transition-easing;
  transition-property: color;

  &:hover,
  &:focus {
    color: $color-green;
    color: var(--color-primary);
  }

  &.item-translationLink--removed {
    color: #666;
  }
}

.item-translationLink-prefix {
  display: block;
  font-weight: normal;
  font-size: 11px;
  color: #959595;
}

.item-revisionLink {
  display: inline-block;
  text-decoration: none;
  color: $color-green;
  color: var(--color-primary);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.item-actions {
  flex: 1 1 auto;
  width: 360px;
  margin: 0;
  text-align: right;
}

.item-date {
  color: $color-grey;
  font-size: 11px;
}

.item-stats {
  font-size: 14px;
  list-style: none;
}

.item-rollback {
  transition: $transition-speed $transition-easing;
  transition-property: opacity, color;
  opacity: 0;
  background: none;
  padding: 0;
  margin: 0 0 0 5px;
  color: $color-grey;
  font-size: 11px;

  &:focus,
  &:hover {
    color: darken($color-grey, 25%);
    text-decoration: underline;
  }
}

.item-rollback-content {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #fff;
  font-size: 12px;
  font-style: italic;
  color: #5d6863;

  .item-translationLink {
    font-size: 11px;
  }

  .item-details-link {
    font-weight: bold;
  }
}

.item-rollback-user {
  font-weight: bold;
}

.item-details-link {
  padding-left: 6px;
  margin-left: 5px;
  border-left: 1px solid #ddd;
  text-decoration: none;
  color: $color-grey;
  font-size: 11px;
  font-weight: 500;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: $color-green;
    color: var(--color-primary);
  }
}

.item-content-rollbacked {
  margin-bottom: 6px;
  color: $color-error;
  font-size: 12px;
  font-weight: 500;
}
