@value color-light-background, color-black, color-green from 'accent-webapp/styles/variables/colors';

.revision-selector {
  position: relative;
  box-shadow: 0 2px 4px rgba(#000, 0.06);

  :global(.ember-power-select-selected-item) {
    margin-left: 10px;
    font-weight: 700;
    color: color-black;
    color: var(--color-black);

    em {
      margin-left: 1px;
      font-size: 11px;
      font-style: normal;
      color: color-green;
      color: var(--color-primary);
    }
  }

  :global(.ember-power-select-trigger) {
    padding: 10px;
    font-size: 20px;
    flex-direction: row-reverse;
    border: 1px solid #eee;
    cursor: default;
    pointer-events: none;
  }

  &[aria-expanded=true] :global(.ember-power-select-status-icon),
  :global(.ember-power-select-status-icon) {
    display: none;
  }
}

.revision-selector.with-many-revisions {
  :global(.ember-power-select-selected-item) {
    margin-left: 0;
  }

  :global(.ember-power-select-trigger) {
    padding-bottom: 25px;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      background: color-light-background;
    }
  }

  &[aria-expanded=true] :global(.ember-power-select-status-icon),
  :global(.ember-power-select-status-icon) {
    left: 13px;
    bottom: 16px;

    &:after {
      bottom: -14px;
      left: 0;
      color: #ddd;
    }
  }

  &[aria-expanded=true] :global(.ember-power-select-status-icon) {
    left: 11px;
  }
}

.otherLanguages {
  position: absolute;
  bottom: 8px;
  left: 25px;
  font-size: 12px;
  color: #ccc;
  pointer-events: none;
}
