.revision-selector {
  position: relative;
  background: var(--body-background);
  box-shadow: 0 2px 4px var(--shadow-color);

  :global(.ember-power-select-selected-item) {
    margin-left: 10px;
    font-weight: 700;
    color: var(--color-black);

    em {
      margin-left: 1px;
      font-size: 11px;
      font-style: normal;
      color: var(--color-primary);
    }
  }

  :global(.ember-power-select-status-icon) {
    opacity: 0;
    right: 10px;
    font-size: 27px;
    margin-top: 4px;
  }

  :global(.ember-power-select-trigger) {
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
    flex-direction: row-reverse;
    cursor: default;
    pointer-events: none;
  }
}

.revision-selector.with-many-revisions {
  :global(.ember-power-select-status-icon) {
    opacity: 0.3;
  }

  :global(.ember-power-select-selected-item) {
    margin-left: 0;
  }

  :global(.ember-power-select-trigger) {
    padding-bottom: 25px;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      background: var(--background-light);
    }
  }
}

.otherLanguages {
  position: absolute;
  bottom: 8px;
  left: 11px;
  font-size: 12px;
  color: #ccc;
  pointer-events: none;
}
