@value color-light-background, color-black, color-green from 'accent-webapp/styles/variables/colors';

& {
  position: relative;
  box-shadow: 0 2px 4px rgba(#000, 0.06);
}

&.with-many-revisions {
  .ember-power-select-selected-item {
    margin-left: 0;
  }

  .ember-power-select-trigger {
    padding-bottom: 25px;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      background: color-light-background;
    }

    .ember-power-select-status-icon {
      &:after {
        display: block;
      }
    }
  }
}

.otherLanguages {
  position: absolute;
  bottom: 8px;
  left: 13px;
  font-size: 12px;
  font-style: italic;
  color: #ccc;
  pointer-events: none;
}

.ember-power-select-selected-item {
  margin-left: 10px;
  font-weight: 700;
  color: color-black;
  color: var(--color-black);

  em {
    margin-left: 1px;
    font-size: 11px;
    font-style: normal;
    color: color-green;
    color: var(--color-primary);
  }
}

.ember-power-select-trigger {
  padding: 10px;
  font-size: 20px;
  flex-direction: row-reverse;
  border: 1px solid #eee;
  cursor: default;
  pointer-events: none;

  .ember-power-select-status-icon {
    &:after {
      display: none;
      content: 'Ξ';
      transform: rotate(0);
      bottom: -14px;
      left: 0;
      color: #ddd;
    }
  }

  &[aria-expanded='true'] {
    .ember-power-select-status-icon {
      &:after {
        transform: rotate(0);
      }
    }
  }
}
