.revision-selector {
  position: relative;
  background: var(--body-background);
  box-shadow: 0 2px 4px var(--shadow-color);

  select {
    padding: 10px 10px 10px 7px;
    padding-bottom: 25px;
    border-radius: 3px;
    font-size: 20px;
    flex-direction: row-reverse;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      background: var(--background-light);
    }
  }
}

.otherLanguages {
  position: absolute;
  bottom: 8px;
  left: 11px;
  font-size: 12px;
  color: #ccc;
  pointer-events: none;
}
