@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-error, color-warning, color-success, color-black, color-light-background, color-grey from 'accent-webapp/styles/variables/colors';
@value font-monospace from 'accent-webapp/styles/variables/fonts';

.projects-list-item.low-percentage {
  .language-reviewedPercentage {
    color: color-error;
  }

  .progress {
    color: color-error;
  }
}

.projects-list-item.medium-percentage {
  .language-reviewedPercentage {
    color: color-warning;
  }

  .progress {
    color: color-warning;
  }
}

.projects-list-item.high-percentage {
  .language-reviewedPercentage {
    color: color-success;
  }

  .progress {
    color: color-success;
  }
}

.projects-list-item {
  padding: 12px 15px;
  transition: transition-speed transition-easing;
  transition-property: background;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(color-black, 0.15);
  color: color-black;

  &:focus,
  &:hover {
    background: color-light-background;

    .projectName {
      color: var(--color-primary);
    }
  }
}

.projectHeader {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.projectName {
  transition: transition-speed transition-easing;
  transition-property: color;
  font-weight: 600;
  font-size: 18px;
}

.projectLogo {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 21px;
  line-height: 1;

  svg {
    width: 25px;
    height: 20px;
  }
}

.projectUpdates {
  display: block;
  color: color-grey;
  font-style: italic;
  font-size: 11px;
}

.projectUpdate {
  margin-right: 6px;
}

.numberStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.numberStat-totals {
  padding: 2px 7px 1px;
  border-radius: 3px;
  background: lighten(color-grey, 25%);
  color: color-grey;
  font-size: 12px;
  font-family: font-monospace;
}
