.projects-list-item.low-percentage {
  .language-reviewedPercentage {
    color: var(--color-error);
  }

  .progress {
    color: var(--color-error);
  }
}

.projects-list-item.medium-percentage {
  .language-reviewedPercentage {
    color: var(--color-warning);
  }

  .progress {
    color: var(--color-warning);
  }
}

.projects-list-item.high-percentage {
  .language-reviewedPercentage {
    color: var(--color-success);
  }

  .progress {
    color: var(--color-success);
  }
}

.projects-list-item {
  padding: 12px 15px;
  transition: 0.2s ease-in-out;
  transition-property: background;
  border-radius: 3px;
  box-shadow: 0 2px 4px var(--shadow-color);
  color: var(--color-black);

  &:focus,
  &:hover {
    background: var(--background-light);

    .projectName {
      color: var(--color-primary);
    }
  }
}

.projectHeader {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.projectName {
  transition: 0.2s ease-in-out;
  transition-property: color;
  font-weight: 600;
  font-size: 18px;
}

.projectLogo {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 21px;
  line-height: 1;

  svg {
    width: 25px;
    height: 20px;
  }
}

.projectUpdates {
  display: block;
  opacity: 0.6;
  color: var(--color-black);
  font-style: italic;
  font-size: 11px;
}

.projectUpdate {
  margin-right: 6px;
}

.numberStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.numberStat-totals {
  padding: 2px 0 1px 7px;
  color: var(--color-black);
  font-size: 12px;
  font-family: var(--font-monospace);
}
