<div local-class="project-settings-back-link">
  <LinkTo
    @route="logged-in.project.edit.index"
    local-class="button"
    class="button button--borderless button--primary"
  >
    {{t "components.project_settings.back_link.title"}}
  </LinkTo>
</div>
