<div local-class="project-settings-back-link">
  <LinkTo
    @route="logged-in.project.edit.index"
    class="button button--link button--primary"
  >
    {{t "components.project_settings.back_link.title"}}
  </LinkTo>
</div>
