<div local-class="project-navigation">
  <div local-class="item"></div>
  <div local-class="item"></div>
  <div local-class="item"></div>
  <div local-class="item"></div>
  <div local-class="item"></div>
  <div local-class="item"></div>
</div>
