<div local-class="translation-comments-list">
  <div local-class="form"></div>
  <div local-class="item">
    <div local-class="item-user"></div>
    <div local-class="item-text"></div>
  </div>
  <div local-class="item">
    <div local-class="item-user"></div>
    <div local-class="item-text"></div>
    <div local-class="item-text"></div>
    <div local-class="item-text"></div>
  </div>
  <div local-class="item">
    <div local-class="item-user"></div>
    <div local-class="item-text"></div>
    <div local-class="item-text"></div>
  </div>
</div>
