<div class="form"></div>
<div class="item">
  <div class="item-user"></div>
  <div class="item-text"></div>
</div>
<div class="item">
  <div class="item-user"></div>
  <div class="item-text"></div>
  <div class="item-text"></div>
  <div class="item-text"></div>
</div>
<div class="item">
  <div class="item-user"></div>
  <div class="item-text"></div>
  <div class="item-text"></div>
</div>
