@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-black, color-error, color-warning, color-success, color-grey, color-green from 'accent-webapp/styles/variables/colors';
@value font-monospace from 'accent-webapp/styles/variables/fonts';
@value screen-sm from 'accent-webapp/styles/variables/dimensions';

.dashboard-revisions-item {
  transition: transition-speed transition-easing;
  transition-property: border-color;
  position: relative;
  flex: 1 1 calc(50% - 10px);
  justify-content: space-between;
  max-width: 50%;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 8px 15px 12px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(color-black, 0.15);

  &:nth-child(even) {
    flex: 1 1 50%;
    margin-right: 0;
  }

  &:focus,
  &:hover {
    border-color: #ddd;

    .actionsButton {
      opacity: 1;
    }
  }
}

.dashboard-revisions-item.low-percentage {
  .language-reviewedPercentage {
    color: color-error;
  }

  .progress {
    color: color-error;
  }
}

.dashboard-revisions-item.medium-percentage {
  .language-reviewedPercentage {
    color: color-warning;
  }

  .progress {
    color: color-warning;
  }
}

.dashboard-revisions-item.high-percentage {
  .language-reviewedPercentage {
    color: color-success;
  }

  .progress {
    color: color-success;
  }
}

.dashboard-revisions-item.master {
  flex: 1 1 auto;
  max-width: none;

  .language-name {
    font-size: 14px;
  }
}

.language {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 6px;
  color: color-grey;
}

.language-name {
  transition: transition-speed transition-easing;
  transition-property: color;
  color: darken(color-grey, 10%);
  font-size: 12px;
  text-decoration: none;

  &:focus,
  &:hover {
    color: color-green;
    color: var(--color-primary);
  }
}

.language-reviewedPercentage {
  display: block;
  margin-top: 5px;
  font-weight: normal;
  font-size: 25px;
  color: lighten(color-grey, 10%);
}

.reviewedStats {
  padding: 2px 7px 1px;
  border-radius: 3px;
  background: lighten(color-grey, 25%);
  color: color-grey;
  font-size: 12px;
  font-family: font-monospace;
}

.actionsButton {
  transition: transition-speed transition-easing;
  transition-property: opacity;
  position: absolute;
  right: 7px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #fff;
  opacity: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    .actionsButton-icon {
      stroke: color-green;
      stroke: var(--color-primary);
    }
  }
}

.actionsButton-icon {
  stroke: color-grey;
  transition: transition-speed transition-easing;
  transition-property: stroke;
  width: 15px;
  height: 15px;
}

.actions {
  margin-top: 10px;
}

.actionItem-text {
  margin-bottom: 7px;
  font-size: 12px;
  color: color-grey;
}

.actionItem-button {
  margin-top: 10px;
}

@media (max-width: (screen-sm)) {
  .language-reviewedPercentage {
    font-size: 18px;
  }

  .reviewedStats {
    display: none;
  }
}
