.dashboard-revisions-item {
  transition: 0.2s ease-in-out;
  transition-property: border-color;
  position: relative;
  flex: 1 1 calc(50% - 10px);
  justify-content: space-between;
  max-width: 50%;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 8px 15px 12px;
  border-radius: 3px;
  box-shadow: 0 2px 4px var(--shadow-color);

  &:nth-child(even) {
    flex: 1 1 50%;
    margin-right: 0;
  }

  &:focus,
  &:hover {
    border-color: #ddd;

    .actionsButton {
      opacity: 1;
    }
  }
}

.dashboard-revisions-item.low-percentage {
  .language-reviewedPercentage {
    color: var(--color-error);
  }

  .progress {
    color: var(--color-error);
  }
}

.dashboard-revisions-item.medium-percentage {
  .language-reviewedPercentage {
    color: var(--color-warning);
  }

  .progress {
    color: var(--color-warning);
  }
}

.dashboard-revisions-item.high-percentage {
  .language-reviewedPercentage {
    color: var(--color-success);
  }

  .progress {
    color: var(--color-success);
  }
}

.dashboard-revisions-item.master {
  flex: 1 1 auto;
  max-width: none;

  .language-name {
    font-size: 14px;
  }
}

.language {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 6px;
  color: var(--color-grey);
}

.language-name {
  transition: 0.2s ease-in-out;
  transition-property: color;
  font-size: 12px;
  text-decoration: none;
  color: var(--color-black);

  &:focus,
  &:hover {
    color: var(--color-primary);
  }
}

.language-reviewedPercentage {
  display: block;
  margin-top: 5px;
  font-weight: normal;
  font-size: 25px;
  color: var(--color-grey);
}

.reviewedStats {
  padding: 2px 0 1px 7px;
  border-radius: 3px;
  color: var(--color-grey);
  font-size: 12px;
  font-family: var(--font-monospace);
}

.actionsButton {
  transition: 0.2s ease-in-out;
  transition-property: opacity;
  position: absolute;
  right: 7px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: var(--body-background);
  opacity: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    .actionsButton-icon {
      stroke: var(--color-primary);
    }
  }
}

.actionsButton-icon {
  stroke: var(--color-grey);
  transition: 0.2s ease-in-out;
  transition-property: stroke;
  width: 15px;
  height: 15px;
}

.actions {
  margin-top: 10px;
}

.actionItem-text {
  margin-bottom: 7px;
  font-size: 12px;
  color: var(--color-grey);
}

.actionItem-button {
  margin-top: 10px;
}

@media (max-width: var(--screen-sm)) {
  .language-reviewedPercentage {
    font-size: 18px;
  }

  .reviewedStats {
    display: none;
  }
}
