.root {
  position: relative;

  select {
    appearance: none;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 25px 5px 10px;
    background: var(--body-background);
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid transparent;
    border-color: var(--background-light-highlight);
    color: var(--color-black-opacity-70);
  }

  &:after {
    display: block;
    pointer-events: none;
    cursor: pointer;
    content: '›';
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 140%;
    transform: translateY(-50%) rotate(90deg);
  }
}
