.wrapper {
  display: flex;
  margin-top: 10px;

  & > div:first-of-type {
    margin-right: 40px;
    width: 55%;
  }

  & > div:last-of-type {
    margin-right: 0;
    width: 45%;
  }

  & > div:first-of-type:last-of-type {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;

    & > div:first-of-type:last-of-type {
      margin-top: 0;
    }

    & > div:last-of-type {
      margin-top: 30px;
    }

    & > div,
    & > div:last-of-type,
    & > div:first-of-type {
      width: 100%;
    }
  }
}
