<div local-class='content'>
  {{yield}}

  <div local-class='footer'>
    <ApplicationFooter />
  </div>
</div>

<a local-class='mirego' href='https://www.mirego.com'>
  {{inline-svg 'assets/mirego.svg'}}
</a>