<div local-class="project-comments-list">
  <div local-class="item">
    <div local-class="item-language"></div>
    <div local-class="item-key"></div>
    <div local-class="item-comments">
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
    </div>
  </div>
  <div local-class="item">
    <div local-class="item-language"></div>
    <div local-class="item-key"></div>
    <div local-class="item-comments">
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
    </div>
  </div>
  <div local-class="item">
    <div local-class="item-language"></div>
    <div local-class="item-key"></div>
    <div local-class="item-comments">
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
      <div local-class="item-comments-item">
        <div local-class="item-comments-item-key"></div>
        <div local-class="item-comments-item-text"></div>
      </div>
    </div>
  </div>
</div>
