.base {
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--body-background);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      var(--body-background) 100%
    );
  }
}
