& {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 15px;
}

.list-item {
  &:last-of-type {
    .list-item-link {
      margin-bottom: 0;
    }
  }
}

.list-item-link {
  display: flex;
  align-items: center;
  position: relative;
  left: 1px;
  transition: $transition-speed $transition-easing;
  transition-property: color, background;
  padding: 8px 12px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  border-radius: 3px;
  color: $color-grey;

  &:hover,
  &:focus {
    background: $color-light-background;
    color: var(--color-primary);

    .list-item-link-icon {
      transform: scale(1);
    }

    .list-item-link-text {
      color: var(--color-primary);
    }
  }

  &.active {
    background: lighten($color-green, 46%);
    background: var(--color-primary);
    color: #fff;

    .list-item-link-icon {
      transform: scale(1);
    }

    .list-item-link-text {
      color: #fff;
    }
  }
}

.list-item-link-text {
  width: 127px;
  padding: 0 0 0 12px;
  color: $color-grey;
  transition: $transition-speed $transition-easing;
  transition-property: color;
}

.list-item-link-icon {
  transition: $transition-speed $transition-easing;
  transition-property: fill;
  display: inline-block;
  width: 19px;
  height: 19px;
}

@media (max-width: 800px) {
  .list-item-link-text {
    display: none;
  }
}

@media (max-width: ($screen-sm)) {
  & {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }
}
