.project-navigation-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 15px;
}

.section {
  margin: 10px 0;
}

.section-title {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;
  padding-bottom: 3px;
  padding-left: 14px;
  font-weight: 500;
  font-size: 11px;
  border-bottom: 1px solid var(--background-light-highlight);
  color: var(--color-grey);
  width: 100%;
}

.list-item {
  &:last-of-type {
    .list-item-link {
      margin-bottom: 0;
    }
  }
}

.list-item-link {
  display: flex;
  align-items: center;
  position: relative;
  left: 1px;
  transition: 0.2s ease-in-out;
  transition-property: color, opacity, background;
  padding: 4px 12px 3px;
  margin-bottom: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  border-radius: 3px;
  color: var(--color-black);
  opacity: 0.6;

  &:hover,
  &:focus {
    opacity: 1;
    background: var(--background-light);
    color: var(--color-primary);

    .list-item-link-icon {
      transform: scale(1);
    }

    .list-item-link-text {
      color: var(--color-primary);
    }
  }

  &:global(.active) {
    opacity: 1;
    background: var(--color-primary);
    color: #fff;

    .list-item-link-icon {
      transform: scale(1);
    }

    .list-item-link-text {
      color: #fff;
    }
  }
}

.list-item-link-text {
  width: 127px;
  padding: 0 0 0 12px;
  color: var(--color-black);
  transition: 0.2s ease-in-out;
  transition-property: color;
  opacity: 0.8;
}

.list-item-link-icon {
  transition: 0.2s ease-in-out;
  transition-property: fill;
  display: inline-block;
  width: 13px;
  height: 13px;
}

@media (max-width: 800px) {
  .list-item-link-text {
    display: none;
  }
}

@media (max-width: var(--screen-sm)) {
  .project-navigation-list {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }
}
