.project-navigation-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 15px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--background-light);
}

.section-title {
  display: block;
  margin-left: 0;
  margin-bottom: 2px;
  padding-bottom: 3px;
  padding-left: 14px;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-grey);
  opacity: 0.7;
  width: 100%;
}

.list-item {
  &:last-of-type {
    .list-item-link {
      margin-bottom: 0;
    }
  }
}

.list-item-link {
  display: flex;
  align-items: center;
  position: relative;
  left: 1px;
  padding: 5px 12px 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0.6;
  margin-bottom: 4px;
  color: var(--text-color-normal);

  &:hover,
  &:focus {
    opacity: 1;
    background: var(--background-light);
    color: var(--color-primary);

    .list-item-link-icon {
      transform: scale(1);
      opacity: 1;
    }

    .list-item-link-text {
      color: var(--color-primary);
    }
  }

  &:global(.active) {
    opacity: 1;
    background: var(--color-primary);
    color: #fff;

    .list-item-link-icon {
      transform: scale(1);
      opacity: 1;
    }

    .list-item-link-text {
      color: #fff;
      opacity: 1;
    }
  }
}

.list-item-link-text {
  width: 127px;
  padding: 0 0 0 10px;
  opacity: 0.8;
}

.list-item-link-icon {
  transition: 0.2s ease-in-out;
  transition-property: fill, opacity;
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 0.6;
}

@media (max-width: 800px) {
  .project-navigation-list {
    margin-left: 4px;
    margin-right: 6px;
  }

  .section-title,
  .list-item-link-text {
    display: none;
  }

  .list-item-link-icon {
    width: 20px;
    height: 20px;
  }

  .list-item-link {
    padding: 9px 12px 8px;
  }

  .section {
    margin: 10px 0;
    padding: 0 0 14px;
    border-bottom: 1px solid var(--color-primary-opacity-10);
  }
}
