@value color-black from 'accent-webapp/styles/variables/colors';

.project-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nameLink {
  display: block;
  margin: 0 0 20px;
  padding: 14px 0 13px 28px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: color-black;
  border-bottom: 1px solid #eee;
}

.listTrigger {
  display: none;
  align-items: center;
  width: 90px;
  margin: 0 0 20px 10px;
  padding: 2px 10px;
  color: #aaa;
  border: 1px solid #eee;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

.listTrigger-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #aaa;
}

.modalList {
  display: none;
}
