<span {{action 'toggleMenu'}} class="listTrigger">
  {{inline-svg '/assets/burger.svg' class='listTrigger-icon'}}
  Menu
</span>

<div class="list">
  {{project-navigation/list
    selectedRevision=selectedRevision
    permissions=permissions
    project=project
  }}
</div>

{{#if isListShowing}}
  {{#acc-modal onClose=(action 'closeModal')}}
    <div class="modalList">
      {{project-navigation/list
        selectedRevision=selectedRevision
        permissions=permissions
        project=project
      }}
    </div>
  {{/acc-modal}}
{{/if}}
