.wrapper {
  position: relative;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color-normal);
  font-size: 13px;
  gap: 8px;

  h1 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.4px;
  }

  > svg {
    height: 20px;
    opacity: 0.6;
  }
}

@media (max-width: 800px) {
  .wrapper {
    margin-top: 20px;
  }

  .wrapper > svg {
    display: none;
  }
}
