.render {
  height: calc(100dvh - 300px);
  overflow: auto;
  overscroll-behavior: contain;
}

.render pre {
  padding: 15px;
  border-top: 0;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.05);
  background: none;
  font-family: var(--font-monospace);
  font-size: 11px;
  line-height: 1.7;
}

.render-source {
  display: none;
}
