.dummy-login-form {
  max-width: 500px;
  margin: 100px auto 30px;
  padding: 20px;
  box-shadow: 0 3px 21px var(--shadow-color);
  border: 1px solid var(--background-light-highlight);
  background: var(--background-light);
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 19px;
}

.warning {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  color: var(--color-error);
}

.subtitle {
  margin: 0 15px 25px;
  font-size: 13px;
  color: var(--color-grey);
}

.form {
  display: flex;
  align-items: stretch;
}

.textInput {
  @extend %textInput;
  flex: 1 1 auto;
  padding: 10px;
  margin: 0 0 0 0;
  border-radius: 3px 0 0 3px;
  border-right: 0;
  font-size: 13px;

  &:focus {
    border-right: 0;
    border-color: var(--color-green);
  }
}

.dummyLoginButton {
  flex: 0 1 auto !important;
  border-radius: 0 3px 3px 0 !important;
}

@media (max-width: var(--screen-sm)) {
  .dummy-login-form {
    margin-top: 30px;
  }
}
