.jipt-header {
  position: sticky;
  top: 0;
  z-index: 5000;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0 3px 10px var(--shadow-color);
  background: var(--body-background);
}

.project {
  margin: 0 0 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-black);
}

.applicationLogo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  circle {
    fill: var(--body-background);
  }

  path {
    fill: var(--color-primary);
  }
}

.applicationLogo-image {
  width: 18px;
  height: 18px;
}
