<div local-class="jipt-header">
  <div local-class="applicationLogo">
    {{inline-svg
      "assets/logo.svg"
      local-class="applicationLogo-image applicationLogo-image--linked"
    }}
  </div>

  <div local-class="project">
    {{t "general.application_name"}}
  </div>
</div>
