.textInput {
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;
  max-height: 200px;
}
.textInput::-moz-selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.textInput::selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.textInput:focus {
  border: 2px solid var(--color-primary);
}
.textInput:disabled {
  color: var(--color-grey);
  background: var(--background-light);
}

@media (hover: none) and (max-width: 640px) {
  .textInput {
    font-size: 16px !important;
  }
}
.project-settings-collaborators-create-form {
  display: flex;
  align-items: center;
}
.project-settings-collaborators-create-form select {
  margin-right: 10px;
  padding: 9px 25px 8px 5px;
}
.project-settings-collaborators-create-form :global(.button) {
  margin-right: 5px;
}
.project-settings-collaborators-create-form :global(.button) :global(.label) {
  padding-top: 9px;
  padding-bottom: 9px;
}

.select {
  margin-right: 10px;
  flex-shrink: 0;
}

.textInput {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 10px;
  margin-right: 10px;
  max-width: 350px;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 12px;
}
