.progress-bar {
  width: 100%;
  height: 5px;
  background: var(--background-light);
  border-radius: 1px;
}

.progress {
  height: 5px;
  width: 0;
  background: currentColor;
  border-radius: 1px;
  transition: width 500ms ease-in-out;

  &:after {
    width: 100%;
    content: '';
    height: 1px;
    background: transparent;
    box-shadow: 3px 2px 4px currentColor;
    display: block;
    opacity: 0.7;
  }
}
