<div class="item">
  <div class="item-header">
    <div class="item-key"></div>
    <div class="item-meta"></div>
  </div>
  <div class="item-content"></div>
  <div class="item-content"></div>
  <div class="item-content"></div>
</div>
<div class="item">
  <div class="item-header">
    <div class="item-key"></div>
    <div class="item-meta"></div>
  </div>
  <div class="item-content"></div>
  <div class="item-content"></div>
</div>
<div class="item">
  <div class="item-header">
    <div class="item-key"></div>
    <div class="item-meta"></div>
  </div>
  <div class="item-content"></div>
  <div class="item-content"></div>
  <div class="item-content"></div>
  <div class="item-content"></div>
</div>
<div class="item">
  <div class="item-header">
    <div class="item-key"></div>
    <div class="item-meta"></div>
  </div>
  <div class="item-content"></div>
  <div class="item-content"></div>
</div>