@value color-black, color-green from 'accent-webapp/styles/variables/colors';
@value screen-sm from 'accent-webapp/styles/variables/dimensions';

.login-footer {
  max-width: 500px;
  margin: 30px auto 60px;
  padding-top: 14px;
  border-top: 1px solid #eee;
}

.text {
  font-size: 12px;
  color: lighten(color-black, 50%);
}

.link {
  color: color-green;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: (screen-sm)) {
  .login-footer {
    margin-top: 30px;
  }
}
