<div local-class="login-footer">
  <p class="text">
    {{t "components.login_footer.text"}}

    <a
      class="link"
      href="https://github.com/mirego/accent"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{t "components.login_footer.link"}}
    </a>
  </p>
</div>
