@value color-light-background, color-green, color-error from 'accent-webapp/styles/variables/colors';
@value font-primary from 'accent-webapp/styles/variables/fonts';

.project-settings-form {
  margin-top: 25px;
}

.textInput {
  @extend %textInput;
  width: 350px;
  margin-right: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  font-family: font-primary;
  font-size: 12px;
}

.colorInput {
  @extend %textInput;
  margin-right: 5px;
  width: 48px;
  height: 40px;
  padding: 2px 5px;
}

.field {
  display: flex;
  margin-bottom: 15px;
}

.lock {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background: color-light-background;
}

.lock-text-helper {
  font-size: 11px;
  font-style: italic;
  color: #555;
}

.lock-text {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid;
  background: #fff;
  border-bottom-width: 2px;
  padding: 3px 12px 3px 5px;
  border-radius: 3px;

  &.lock-text--inactive {
    color: #aaa;
    border-color: #ddd;

    &:hover {
      color: color-green;
      border-color: color-green;

      .lock-icon {
        stroke: color-green;
      }
    }

    .lock-icon {
      stroke: #aaa;
    }
  }

  &.lock-text--active {
    color: color-error;
    border-color: color-error;

    &:hover {
      color: darken(color-error, 10%);
      border-color: darken(color-error, 10%);

      .lock-icon {
        stroke: darken(color-error, 10%);
      }
    }

    .lock-icon {
      stroke: color-error;
    }
  }
}

.lock-icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.logo {
  display: flex;
  width: 25px;
  height: 22px;
  padding: 0;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;

  svg {
    width: 25px;
    height: 21px;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}

.logo-field {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
  background: #fff;
}

.logoReset {
  position: absolute;
  top: -3px;
  right: -14px;
  padding: 0;
  background: none;
  color: #999;

  svg {
    width: 10px;
    height: 10px;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}
