.project-settings-form {
  margin-top: 25px;
  max-width: 550px;
}

.form {
  margin-top: 25px;
  padding: 12px;
  border-radius: 3px;
  background: var(--background-light);
  border: 1px solid var(--background-light-highlight);
}

.select {
  flex-grow: 1;
  max-width: 200px;
}

.select select {
  background: var(--content-background);
  border: 1px solid var(--background-light-highlight);
  padding: 7px 10px;
  font-weight: bold;
  font-size: 13px;
}

.text {
  max-width: 490px;
  margin: 10px 0 15px;
  font-size: 13px;
  font-style: italic;
}

.logo {
  width: 25px;
}

.config-key-help {
  margin-top: 10px;
  font-size: 12px;
  color: var(--color-warning);
  padding: 6px 0;
  font-weight: bold;
}

.provider {
  display: flex;
  align-items: center;
  gap: 16px;
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px 10px;
  margin-right: 10px;
  width: 100%;
  font-family: var(--font-monospace);
  font-size: 12px;
}

.options {
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.option-checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  font-size: 12px;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}
