.inputText {
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;
  max-height: 200px;
}
.inputText::-moz-selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.inputText::selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.inputText:focus {
  border: 2px solid var(--color-primary);
}
.inputText:disabled {
  color: var(--color-grey);
  background: var(--background-light);
}

@media (hover: none) and (max-width: 640px) {
  .inputText {
    font-size: 16px !important;
  }
}
.form-content {
  display: flex;
  align-items: flex-start;
}
.form-content .label {
  padding: 9px 12px 10px;
}

.error {
  display: block;
  margin-bottom: 10px;
  color: var(--color-error);
  font-size: 13px;
  font-weight: bold;
}

.inputText {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 13px;
}

@media (max-width: 440px) {
  .form-content {
    flex-direction: column;
  }
  .inputText {
    margin-bottom: 10px;
  }
}
