& {
  margin-top: 90px;
}

.title {
  display: block;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid lighten($color-error, 48%);
  font-size: 19px;
  color: darken($color-error, 10%);
}

.zone {
  margin-top: 12px;
  padding: 10px;
  border-radius: 3px;
  background: #fafafa;
}

.zone-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zone-title {
  font-size: 13px;
  color: darken($color-error, 26%);
}

.zone-text {
  font-size: 12px;
  font-style: italic;
  color: rgba(darken($color-error, 30%), 0.5);
}
