@value transition-speed, transition-easing from 'accent-webapp/styles/variables/transitions';
@value color-grey, color-light-background, color-green, color-black from 'accent-webapp/styles/variables/colors';

.item {
  transition: transition-speed transition-easing;
  transition-property: background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 15px 10px 10px;
  border-bottom: 1px solid #eee;
  overflow-x: hidden;

  &.invited {
    .user {
      color: color-grey;
    }
  }

  &.withPicture {
    .invite {
      margin-left: 21px;
    }
  }

  &.editing,
  &:focus,
  &:hover {
    background: color-light-background;

    .button {
      opacity: 1;
    }
  }

  .button {
    flex: 0 0 auto;
    transition: transition-speed transition-easing;
    transition-property: opacity;
    opacity: 0;
    padding: 6px 7px;
    margin-left: 10px;
    font-size: 11px;

    :global(.button-icon) {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }
  }

  :global(.ember-power-select-trigger) {
    min-width: 150px;
    padding: 5px 7px 4px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background: #fff;
    font-size: 12px;
    box-shadow: 0 1px 5px rgba(#000, 0.06);
  }
}

.role {
  display: block;
  margin-bottom: 4px;
  color: color-green;
  color: var(--color-primary);
  font-size: 12px;
}

.user {
  display: flex;
  color: color-black;
  font-size: 15px;
}

.user-email {
  display: block;
  font-size: 12px;
}

.user-picture {
  width: 17px;
  height: 17px;
  margin-right: 6px;
  margin-top: 3px;
  border-radius: 3px;
}

.invite {
  color: color-grey;
  font-size: 13px;
  font-style: italic;
}

.actions {
  display: flex;
}
