.project-settings-collaborators-create-form {
  display: flex;
  align-items: center;

  select {
    margin-right: 10px;
    padding: 9px 25px 8px 5px;
  }

  :global(.button) {
    margin-right: 5px;

    :global(.label) {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}

.select {
  margin-right: 10px;
  flex-shrink: 0;
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 10px;
  margin-right: 10px;
  max-width: 350px;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 12px;
}
