.project-settings-collaborators-create-form {
  display: flex;

  :global(.ember-power-select-trigger) {
    min-width: 150px;
    margin-right: 10px;
    border: 1px solid var(--body-background-border);
    background: var(--body-background);
    font-size: 12px;
    box-shadow: 0 1px 5px var(--shadow-color);
  }

  :global(.button) {
    margin-right: 5px;
  }
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px 10px;
  margin-right: 10px;
  min-width: 350px;
  font-family: var(--font-primary);
  font-size: 11px;
}
