& {
  display: flex;
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px 10px;
  margin-right: 10px;
  min-width: 350px;
  font-family: $font-primary;
  font-size: 11px;
}

.ember-power-select-trigger {
  min-width: 150px;
  margin-right: 10px;
  border: 1px solid #eee;
  background: #fff;
  font-size: 12px;
  box-shadow: 0 1px 5px rgba(#000, 0.06);
}

.button {
  margin-right: 5px;
}
