{{acc-select
  searchEnabled=false
  selected=roleValue
  options=mappedPossibleRoles
  onchange=(action (mut role) value='value')
}}

{{quick-submit-textfield
  value=email
  class='textInput'
  placeholder=(t 'components.collaborator_create_form.email_placeholder')
  onSubmit=(action 'submit')
}}

{{#async-button
  onClick=(action 'submit')
  loading=isCreating
  disabled=emptyEmail
  class='button button--filled'
}}
  {{t 'components.collaborator_create_form.create_button'}}
{{/async-button}}

{{#if onCancel}}
  <button {{action onCancel}} class="button button--filled button--white">
    Cancel
  </button>
{{/if}}
