.item {
  position: relative;
  display: flex;
  margin-left: -10px;
  padding: 8px 12px;
  width: calc(100% + 10px);
  border-radius: var(--border-radius);
  transition: background 0.3s ease-in-out;

  &:focus,
  &:hover {
    background: var(--body-background);
    .links {
      opacity: 1;
    }
    .deleteButton {
      opacity: 1;
    }
  }
}

.item-info {
  width: 100%;
}

.item-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--color-primary);
}

.item-title-link {
  text-decoration: none;
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
  }
}

.deleteButton {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.item-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-size: 11px;
  font-family: var(--font-monospace);
  color: var(--text-color-normal);
  text-decoration: none;
  background: var(--background-tooltip);
  padding: 1px 5px;
  border-radius: var(--border-radius);
}

.item-meta {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--color-grey);
}

.item-meta-date {
  color: var(--color-grey);

  &::before {
    content: '– ';
    opacity: 0.5;
  }
}

.links {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  opacity: 0;
  gap: 10px;
  transition: opacity 0.2s ease-in-out;

  .button {
    margin-right: 6px;

    &.button--borderLess:first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}

@media (max-width: 800px) {
  .item {
    flex-direction: column;
    gap: 10px;
  }
  .links {
    opacity: 1;
  }
  .deleteButton {
    opacity: 1;
  }
}
