<div>
  {{projects-header session=session}}

  {{#if googleLoginEnabled}}
    {{google-login-form}}
  {{/if}}

  {{#if dummyLoginEnabled}}
    {{dummy-login-form onDummyLogin=(action 'dummyLogin')}}
  {{/if}}
</div>

{{application-footer}}
