.wrapper {
  padding: 10px 90px 10px 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--content-background-border);
  font-size: 14px;
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.quick-access {
  padding: 0 4px;
  border-radius: var(--border-radius);
  display: block;
}
