$color-primary: #28cb87;
$color-secondary: #1ecd8d;
$color-blue: #3f7cc5;
$color-border: #e0e0e0;

$color-white: #fff;
$color-true-black: #1a211d;
$color-black: #1f4831;

$color-grey: #adadad;
$color-dark-grey: #6e7173;
$color-light-grey: #fafafa;
$color-light-background: #fafafa;

$color-success: #45c86f;
$color-dark-success: darken($color-success, 5%);

$color-warning: #e4b600;

$color-socket: #2c4fb4;

$color-error: #d84444;
$color-dark-error: darken($color-error, 5%);
