.data-control {
  margin-bottom: 15px;
}

.data-title {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

.data-title-help {
  margin-left: 4px;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-primary);

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.error-control {
  label {
    color: var(--color-error);
  }

  input {
    border-color: var(--color-error);
  }
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px 10px;
  margin-right: 10px;
  max-width: 350px;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 11px;

  &[readonly] {
    max-width: 500px;
    font-family: var(--font-monospace);
    background: #fafafa;
  }
}
