.item {
  position: relative;
  padding: 10px 0;
  width: 100%;

  &:focus,
  &:hover {
    .deleteButton {
      display: inline-block;
    }
  }
}

.item-title {
  display: flex;
  align-items: center;
  font-size: 23px;
  color: var(--color-primary);
}

.item-title-link {
  text-decoration: none;
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
  }
}

.item-tag {
  position: relative;
  top: 2px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-size: 12px;
  font-family: var(--font-monospace);
  color: var(--text-color-normal);
  text-decoration: none;
  background: var(--background-tooltip);
  padding: 1px 3px;
  border-radius: var(--border-radius);
}

.item-meta {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--color-grey);
}

.item-meta-date {
  opacity: 0.7;
  color: var(--color-grey);
}

.links {
  margin-top: 10px;

  .button {
    margin-right: 6px;

    &.button--borderLess:first-of-type:last-of-type {
      margin-left: -14px;
    }
  }
}
