<button class="deleteButton" {{action "close"}}>
  {{inline-svg "assets/x.svg" class="deleteButton-icon"}}
</button>

<div class="content">
  {{#if iconPath}}
    <div class="icon">
      {{inline-svg iconPath class="icon"}}
    </div>
  {{/if}}
  <p class="text">
    {{flash.message}}
  </p>
</div>
