.subNavigation + & {
  position: relative;
  top: -1px;
  z-index: 8;
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filters-content {
  flex-grow: 1;
  margin-right: 15px;
}

.queryForm {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 7px;
  width: 20px;
  height: 20px;
  stroke: #b7b7b7;
}

.input {
  @extend %textInput;
  width: 100%;
  padding: 7px 7px 7px 30px;
  font-family: $font-primary;
  font-size: 14px;
  color: $color-black;

  &:focus {
    box-shadow: inset 0 1px 2px #f6f6f6, 0 1px 2px rgba($color-black, 0.06);
  }

  &::placeholder {
    color: $color-grey;
  }
}

.advancedFilters {
  background: none;
  padding: 3px 6px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 4px rgba($color-black, 0.05);
  transition: $transition-speed $transition-easing;
  transition-property: background;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #eee;
  }
}

.advancedFilters-content {
  position: relative;
  display: flex;
  font-weight: bold;
  color: #aaa;
}

.advancedFilters-badge {
  position: absolute;
  top: -10px;
  right: -12px;
  background: $color-green;
  background: var(--color-primary);
  border-radius: 2px;
  padding: 0 4px 1px;
  color: #fff;
  font-size: 10px;
}

.advancedFilters-icon {
  margin-top: 1px;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.totalEntries {
  flex-shrink: 0;
  margin-top: 10px;
  color: $color-grey;
  font-size: 12px;
}

@media (max-width: ($screen-sm)) {
  .filters-wrapper {
    flex-direction: column;
  }

  .queryForm,
  .filters-content {
    width: 100%;
  }
}
