.google-login-form {
  max-width: 500px;
  margin: 0 auto 30px;
  text-align: center;
}

.googleLogo {
  width: 30px;
  margin-right: 10px;
}

.googleLoginButton {
  opacity: 1;
  margin-top: 10px;
  padding: 7px 40px 7px 20px;
  background: #4d90fe;
  border: 1px solid darken(#4d90fe, 5%);
  font-family: arial, sans-serif;
  font-size: 14px;

  &:focus,
  &:hover {
    background: darken(#4d90fe, 8%);
  }
}

@media (max-width: var(--screen-sm)) {
  .google-login-form {
    margin-top: 30px;
  }
}
