& {
  margin-top: 30px;
}

.text {
  max-width: 490px;
  margin: 10px 0 15px;
  font-size: 13px;
  font-style: italic;
}

.token {
  display: inline-block;
  width: 100%;
  margin: 10px 0 0;
  padding: 8px;
  overflow-x: scroll;
  word-break: keep-all;
  background: #fbfbfb;
  font-family: $font-monospace;
  font-size: 11px;
  border: 2px solid #ddd;
  border-radius: 3px;
  transition-property: border-color, box-shadow;
  transition: 0.3s ease-in-out;

  &:focus {
    border-color: lighten($color-primary, 20%);
    box-shadow: 0 0 3px 2px rgba($color-primary, 0.3);

    &::selection {
      background: lighten($color-primary, 35%);
    }
  }
}
