{{project-settings/title title=(t 'components.project_settings.api_token.title')}}

<p class="text">
  {{t 'components.project_settings.api_token.text_1'}}

  {{t 'components.project_settings.api_token.text_2'}}
</p>

<input readonly="" onClick="this.select();" class="token" value={{token}} />
