.projects-list-item {
  padding: 10px 15px 12px;
  transition: 0.2s ease-in-out;
  transition-property: box-shadow, border-color, background;
  border-radius: var(--border-radius);
  border: 1px solid var(--content-background-border);
  background: var(--content-background);
  color: var(--text-color-normal);

  &:focus,
  &:hover {
    border-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
    background: linear-gradient(
      to bottom,
      color-mix(in srgb, var(--color-primary) 4%, transparent) 0%,
      transparent 65%
    );

    .projectName {
      color: color-mix(in srgb, var(--color-primary) 94%, #fff);
    }
  }
}

.projectHeader {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.projectName {
  transition: 0.2s ease-in-out;
  transition-property: color;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectLogo {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 21px;
  line-height: 1;

  svg {
    width: 25px;
    height: 20px;
  }
}

.projectUpdates {
  display: block;
  opacity: 0.6;
  color: var(--color-black);
  font-style: italic;
  font-size: 11px;
}

.projectUpdate {
  margin-right: 6px;
}

.numberStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
