& {
  position: relative;
  background: #fff;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background: transparent;

  &:focus,
  &:hover {
    .closeButton-icon {
      stroke: $color-error;
    }
  }
}

.closeButton-content {
  display: flex;
}

.closeButton-icon {
  width: 25px;
  height: 25px;
  stroke: #777;
}

.sectionType {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: $color-green;
  color: var(--color-primary);
}

.sectionType-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  stroke: $color-green;
  stroke: var(--color-primary);
}

.versionTitle {
  display: flex;
  align-items: center;
}

.versionTitle-name {
  color: $color-green;
  color: var(--color-primary);
}

.versionTitle-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-family: $font-monospace;
  font-size: 14px;
  font-weight: normal;
  color: #888;
}

.versionTitle-tag-icon {
  width: 12px;
  height: 12px;
  stroke: #bbb;
}

.title {
  display: flex;
  padding: 12px 20px 12px 12px;
  background: $color-light-background;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.title-document {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
  font-size: 16px;
}

.title-documentExtension {
  font-size: 14px;
  color: $color-grey;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
}

.subtitle-label {
  font-size: 11px;
  font-weight: normal;
  color: #333;
}

.render {
  position: relative;
  padding: 15px;
  margin-bottom: -20px;
  min-height: 50px;
  border-top: 0;
  box-shadow: inset 0 2px 6px rgba($color-black, 0.05);
  background: #fff;
  overflow-x: scroll;
  font-family: $font-monospace;
  font-size: 11px;
  line-height: 1.7;
}

.renderExport {
  position: absolute;
  top: 10px;
  right: 50px;
}

.toggleJiptExport {
  position: absolute;
  top: 13px;
  right: 140px;
}

.sections {
  display: flex;
}

.sections-file,
.sections-preview {
  flex: 1 1 50%;
  padding: 20px;
}

.sections-preview-title {
  font-size: 13px;
  color: $color-grey;
}

.sections-preview-empty {
  padding: 30px 10px;
  margin: 10px 0 0;
  background: #fafafa;
  border: 1px solid #eee;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: $color-grey;
}

@media (max-width: (800px)) {
  .sections {
    flex-direction: column;
  }
}
