.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  z-index: 3000;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: scroll;
  padding: 130px 30px 100px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: calc(100vh - 130px);
  background-color: #000;
  opacity: 0.6;
}

.container {
  display: block;
  position: relative;
  z-index: 3;
  max-width: 900px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 20px 0 var(--shadow-color);

  &.container--small {
    max-width: 500px;
  }
}

@media (max-width: var(--screen-sm)) {
  .wrapper {
    padding: 30px 10px;
  }
}
