<EmberWormhole @to="modals">
  <div local-class="acc-modal__wrapper">
    <div role="button" local-class="acc-modal__overlay" {{on "click" (fn @onClose)}}></div>
    <div role="dialog" local-class="acc-modal__container {{if @small "acc-modal__container--small"}}">
      {{yield}}
    </div>
  </div>
</EmberWormhole>
