<EmberWormhole @to="modals">
  <div local-class="wrapper">
    <div role="button" local-class="overlay" {{on "click" (fn @onClose)}}></div>
    <div role="dialog" local-class="container {{if @small "container--small"}}">
      {{yield}}
    </div>
  </div>
</EmberWormhole>
