.filters {
  margin: 0 auto;
  padding: 15px 15px 10px;
  max-width: $screen-lg;
  background: none;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.queryFilter {
  flex: 1;
}

.totalEntries {
  margin-left: 20px;
  color: $color-grey;
  font-size: 13px;
  font-style: italic;
}

.search-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 7px;
  width: 20px;
  height: 20px;
  stroke: #b7b7b7;
}

.createProjectButton {
  margin-left: 15px;
}

.input {
  @extend %textInput;
  width: 100%;
  padding: 7px 7px 7px 30px;
  font-size: 14px;
  font-family: $font-primary;
  color: $color-black;

  &::placeholder {
    color: $color-grey;
  }

  &:focus {
    border-color: $color-green;
  }
}

.filters-meta {
  margin-top: 7px;
  font-size: 14px;
  color: $color-grey;
}

.filters-meta-keyword {
  font-style: italic;
  color: $color-green;
}
