.input {
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;
  max-height: 200px;
}
.input::-moz-selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.input::selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.input:focus {
  border: 2px solid var(--color-primary);
}
.input:disabled {
  color: var(--color-grey);
  background: var(--background-light);
}

@media (hover: none) and (max-width: 640px) {
  .input {
    font-size: 16px !important;
  }
}
.local-filters:global(.filters) {
  margin: 20px auto 0;
  padding: 0 20px !important;
  max-width: var(--screen-lg);
}

.local-filters-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.queryFilter {
  flex: 1;
}

.queryForm-search {
  width: 100%;
  position: relative;
}

.totalEntries {
  margin-left: 20px;
  color: var(--color-grey);
  font-size: 13px;
  font-style: italic;
}

.search-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 7px;
  width: 20px;
  height: 20px;
  stroke: var(--input-border-color);
}

.createProjectButton {
  margin-left: 15px !important;
}

.input {
  width: 100%;
  padding: 7px 7px 7px 30px;
  font-size: 14px;
  font-family: var(--font-primary);
  color: var(--color-black);
}
.input::placeholder {
  color: var(--color-grey);
}
.input:focus {
  border-color: var(--color-green);
}

.filters-meta {
  margin-top: 7px;
  font-size: 14px;
  color: var(--color-grey);
}

.filters-meta-keyword {
  font-style: italic;
  color: var(--color-green);
}

@media (max-width: 640px) {
  div.local-filters {
    padding: 0 10px;
  }
  .local-filters:global(.filters) {
    margin: 10px auto 0;
    padding: 0 10px !important;
  }
}
