.project-settings-links-list {
  margin-top: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: 0 30px 30px 0;
  min-width: 225px;
  text-align: center;
  background: var(--body-background);
  border-radius: 3px;
  color: #999;
  box-shadow: 0 1px 4px var(--shadow-color);
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  transition: 0.2s ease-in-out;
  transition-property: background, border-color, color;

  .link-icon {
    stroke: #999;
  }

  &:focus,
  &:hover {
    color: var(--color-primary);
    background: var(--background-light);

    .link-icon {
      stroke: var(--color-primary);
    }
  }
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  transition: 0.2s ease-in-out;
  transition-property: stroke;
}

@media (max-width: var(--screen-md)) {
  .project-settings-links-list,
  .list {
    margin: 0;
  }

  .link {
    width: calc(50% - 20px);
    min-width: 0;
    margin: 0 10px 20px;
  }
}
