& {
  margin-top: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: 0 30px 30px 0;
  min-width: 200px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  color: #999;
  box-shadow: 0 1px 4px rgba(#000, 0.15);
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  transition: $transition-speed $transition-easing;
  transition-property: background, border-color, color;

  .link-icon {
    stroke: #999;
  }

  &:focus,
  &:hover {
    color: $color-green;
    color: var(--color-primary);
    background: $color-light-background;

    .link-icon {
      stroke: $color-green;
      stroke: var(--color-primary);
    }
  }
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  transition: $transition-speed $transition-easing;
  transition-property: stroke;
}

@media (max-width: ($screen-sm)) {
  &,
  .list {
    margin: 0;
  }

  .link {
    width: calc(50% - 20px);
    min-width: 0;
    margin: 0 10px 20px;
  }
}
