.content {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 20px 20px;
  border-left: 1px solid var(--content-background-border);
  background: var(--content-background);
}

.inner {
  max-width: 1100px;
  margin: 20px auto 0;
}
