.filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filters-content {
  flex-grow: 1;
  margin-right: 15px;
}

.queryForm {
  position: relative;
}

.totalEntries {
  flex-shrink: 0;
  margin-top: 10px;
  color: var(--color-grey);
  font-size: 12px;
}

.search-icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 7px;
  width: 20px;
  height: 20px;
  stroke: #b7b7b7;
}

.input {
  @extend %textInput;
  width: 100%;
  padding: 7px 7px 7px 30px;
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--color-black);

  &:focus {
    box-shadow: inset 0 1px 2px rgba(#000, 0.1), 0 1px 2px var(--shadow-color);
  }

  &::placeholder {
    color: var(--color-grey);
  }
}

.totalEntries {
  margin-top: 10px;
  color: var(--color-grey);
  font-size: 12px;
}

@media (max-width: var(--screen-sm)) {
  .filters-wrapper {
    flex-direction: column;
  }

  .queryForm,
  .filters-content {
    width: 100%;
    margin-right: 0;
  }
}
