.error-section {
  max-width: 400px;
  width: 100%;
  margin: 100px auto 30px;
  padding: 20px 20px 40px;
  box-shadow: 0 3px 21px var(--shadow-color);
  border: 1px solid var(--background-light-highlight);
  background: var(--background-light);
  text-align: center;
}

.logo {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 20px;
  fill: var(--background-light-highlight);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin-right: 15px;
  font-family: var(--font-monospace);
  font-size: 30px;
  font-weight: 300;
  color: var(--color-green);
}

.title {
  font-family: var(--font-monospace);
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  opacity: 0.7;
  color: var(--color-green);
}

.text {
  max-width: 220px;
  margin: 10px auto 50px;
  padding-top: 20px;
  border-top: 1px solid var(--background-light-highlight);
  font-size: 15px;
  color: var(--text-color-normal);
}

.link {
  font-size: 13px;
  color: var(--color-grey);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-green);
    text-decoration: underline;
  }
}

.or {
  margin: 0 5px 0 2px;
  font-size: 12px;
  color: #bbb;
}

@media (max-width: var(--screen-sm)) {
  .error-section {
    margin-top: 40px;
  }
}
