.navigation--alt {
  .navigation-list-item {
    margin-right: 3px;
  }

  .navigation-list-item-link {
    padding: 2px 11px 2px 10px;
    border-radius: var(--border-radius);
    opacity: 0.9;

    &:global(.active) {
      color: var(--color-primary);
      opacity: 1;
    }
  }
}

.navigation-list {
  display: flex;
  align-items: stretch;
  gap: 10px;
  z-index: 10;
  padding: 4px;
  border-radius: var(--border-radius);
  background: var(--body-background);
}

.navigation-list-item {
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }
}

.navigation-list-item-link {
  transition: 0.2s ease-in-out;
  transition-property: color, border-color, background;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 7px 5px 6px 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-black);

  &:focus,
  &:hover,
  :global(&.active) {
    .navigation-list-item-link-text {
      opacity: 0.9;
    }

    .navigation-list-item-link-icon {
      stroke: currentColor;
    }
  }
}

.navigation-list-item-link-text {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  transition-property: opacity;
}

.navigation-list-item-link-icon {
  transition: 0.2s ease-in-out;
  transition-property: stroke;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  opacity: 0.8;
  stroke: var(--color-black);
}

@media (max-width: 640px) {
  .navigation-list {
    justify-content: space-between;
  }

  .navigation-list-item-link {
    flex-direction: column;
    font-size: 12px;
    text-align: center;
  }

  .navigation-list-item-link-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 440px) {
  .navigation-list-item {
    width: 100%;
    margin-right: 0;
  }

  .navigation-list-item-link-text {
    display: none;
  }

  .navigation--alt {
    .navigation-list-item-link {
      padding: 8px 15px 5px 15px;
    }
  }
}
