& {
  padding: 20px;
  background: #fff;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 27px;
  font-weight: 300;
  color: $color-green;
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
  margin-right: 25px;
  min-width: 250px;
  width: calc(100% - 100px);
  font-size: 12px;
  font-family: $font-primary;

  &:focus {
    border: 2px solid rgba($color-green, 0.7);
  }
}

.colorInput {
  @extend %textInput;
  width: 48px;
  height: 40px;
  padding: 2px 5px;
}

.errors {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba($color-error, 0.3);
}

.error {
  margin-bottom: 5px;
  color: $color-error;
  font-size: 13px;
  font-weight: bold;
}

.formItem {
  margin-bottom: 20px;
}

.formItem-label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.formActions {
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.ember-power-select-trigger {
  min-height: 31px;
  border-color: #eee;
  border: 1px solid #eee;
  background: $color-light-background;
  box-shadow: 0 1px 5px rgba(#000, 0.06);
}
