@value color-green, color-error, color-grey, color-light-background from 'accent-webapp/styles/variables/colors';
@value font-primary from 'accent-webapp/styles/variables/fonts';

.project-create-form {
  padding: 20px;
  background: #fff;

  :global(.ember-power-select-trigger) {
    min-height: 35px;
    border-color: #eee;
    border: 1px solid #eee;
    background: color-light-background;
    box-shadow: 0 1px 5px rgba(#000, 0.06);
  }

  .textInput {
    &:focus {
      border: 2px solid rgba(color-green, 0.7);
    }
  }

  :global(.button).cancelButton:hover,
  :global(.button).cancelButton:focus {
    border-color: color-grey;
  }
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 27px;
  font-weight: 300;
  color: color-green;
}

.formItem-fields {
  display: flex;
  align-items: center;
}

.textInput {
  @extend %textInput;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
  margin-right: 5px;
  font-size: 12px;
  font-family: font-primary;
}

.colorInput {
  @extend %textInput;
  width: 48px;
  margin-right: 5px;
  height: 40px;
  padding: 2px 5px;
  cursor: pointer;
}

.logoInput {
  @extend %textInput;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  padding: 6px 5px 3px;
  cursor: pointer;
  font-size: 25px;

  svg {
    position: relative;
    top: -2px;
    width: 25px;
    height: 21px;
  }
}

.errors {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(color-error, 0.3);
}

.error {
  margin-bottom: 5px;
  color: color-error;
  font-size: 13px;
  font-weight: bold;
}

.formItem {
  margin-bottom: 20px;
}

.formItem-loading {
  margin: 0 10px 0 5px;
  padding: 0;
  align-items: flex-start;

  svg {
    width: 26px;
    margin-bottom: 0;
  }
}

.formItem-label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.formActions {
  padding-top: 20px;
  border-top: 1px solid #eee;
}
