.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-top: 35px;
  border: 1px solid var(--background-light-highlight);
  border-radius: var(--border-radius);
}

.header-info {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.header-logo {
  flex: 0 0 20px;
  margin-right: 8px;
  width: 20px;
}

.header-service {
  font-size: 13px;
  font-weight: bold;
  color: var(--color-black);
}

.header-preview {
  padding-right: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-left: 10px;
  font-size: 13px;
  color: var(--color-black);
}

.header-last-executed-at {
  margin-left: 5px;
  font-size: 11px;
  opacity: 0.4;
}

.list {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}

.empty {
  margin: 15px 0 0;
}
