.content {
  background: var(--content-background);
}

.filters {
  padding: 10px;
  background: var(--background-light);
  border-bottom: 1px solid var(--background-light-highlight);

  :global(.ember-power-select-trigger) {
    min-height: 26px;
    border: 1px solid var(--background-light-highlight);
    background: var(--content-background);
    padding: 4px 8px;
    border-radius: 3px;
  }
}

.translate-action,
.languages {
  display: flex;
  align-items: center;
}

.languages {
  margin-bottom: 10px;
}

.translate-action-button,
.translate-action-select {
  margin-right: 10px;
}

.button-export {
  position: absolute;
  top: 15px;
  right: 15px;
}

.filters-file {
  display: flex;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.preview {
  display: flex;
}

.preview-file-content {
  width: 50%;
  border-right: 1px solid var(--background-light-highlight);
}

.preview-translated-content {
  width: 50%;
}

.form-content {
  margin: 0 auto;
  padding: 100px 10px;
  max-width: 400px;
  text-align: center;
  font-size: 13px;
}

.form-content-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.form-content-icon {
  width: 40px;
  opacity: 0.6;
  stroke: var(--color-grey);
}

.form-content-icon--add {
  width: 20px;
  margin: 0 20px;
}

.form-content-text {
  margin-top: 10px;
}

.form-content-icon--highlight {
  stroke: var(--color-primary);
}

.fileInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fileInput--hidden {
  display: none;
}

:global(.button).button-switch {
  margin: 0 10px;
  opacity: 0.6;
  color: var(--color-black);

  &:hover,
  &:focus {
    opacity: 0.7;
    color: var(--color-black);
  }
}

:global(.button).button-resubmit {
  margin-left: 10px;
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.render {
  padding: 15px;
  min-height: 50px;
  border-top: 0;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.05);
  background: var(--content-background);
  overflow-x: scroll;
  font-family: var(--font-monospace);
  font-size: 11px;
  line-height: 1.7;
}
