.button {
  display: inline-flex;
  align-items: center;
  transition: $transition-speed $transition-easing;
  transition-property: all;
  appearance: none;
  margin: 0;
  border: 0;
  text-decoration: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  background: none;
  font-weight: bold;
  font-size: 12px;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.button-icon {
  position: relative;
  top: 3px;
  transition: $transition-speed $transition-easing;
  transition-property: fill;
  width: 14px;
  height: 14px;
  margin: -3px 4px 3px -2px;
}

.button--bordered {
  padding: 5px 12px;
  border: 1px solid;
  border-radius: $border-radius;
  font-size: 12px;

  .button-icon {
    stroke: darken(#ccc, 4%);
  }
}

.button--iconOnly {
  .button-icon {
    top: 1px;
    margin: 0;
  }
}

.button--grey,
.button--success,
.button--black,
.button--blue,
.button--red,
.button--green {
  border: 1px solid;
}

.button--filled {
  padding: 5px 12px;
  background: $color-green;
  background: var(--color-primary);
  box-shadow: 0 1px 2px rgba($color-black, 0.1);
  border: 1px solid darken($color-green, 4%);
  border-color: var(--color-primary-darken-10);
  text-shadow: 0 1px 1px rgba($color-true-black, 0.4);
  color: #fff;

  &.button.button--loading svg.loading {
    fill: #fff;
  }

  &:active {
    background: var(--color-primary-darken-10);
  }

  &:focus {
    box-shadow: 0 0 10px lighten($color-green, 20%);
    box-shadow: 0 0 10px var(--color-primary-opacity-70);
  }

  &:hover,
  &:focus {
    background: darken($color-green, 2%);
    background: var(--color-primary-darken-10);
  }

  &.button--red {
    background: color-error;
    border: 1px solid darken($color-error, 4%);
    color: #fff;

    &:focus {
      box-shadow: 0 0 10px lighten($color-error, 20%);
    }

    &:active {
      background: darken($color-error, 6%);
    }

    &:hover,
    &:focus {
      background: darken($color-error, 4%);
      color: #fff;
    }
  }

  &.button--green {
    background: $color-green;
    border: 1px solid darken($color-green, 4%);
    color: #fff;

    &:focus {
      box-shadow: 0 0 10px lighten($color-green, 20%);
    }

    &:active {
      background: darken($color-green, 6%);
    }

    &:hover,
    &:focus {
      background: darken($color-green, 4%);
      color: #fff;
    }
  }

  &.button--success {
    background: $color-success;
    border: 1px solid darken($color-success, 4%);
    color: #fff;

    &:focus {
      box-shadow: 0 0 10px lighten($color-success, 20%);
    }

    &:active {
      background: darken($color-success, 6%);
    }

    &:hover,
    &:focus {
      background: darken($color-success, 4%);
      color: #fff;
    }
  }

  &.button--grey {
    background: #ccc;
    border: 1px solid darken(#ccc, 4%);
    color: #fff;

    &:focus {
      box-shadow: 0 0 10px darken(#ccc, 7%);
    }

    &:hover,
    &:focus {
      background: darken(#ccc, 4%);
      color: #fff;
    }
  }

  &.button--black {
    background: lighten($color-true-black, 6%);
    border: 1px solid darken($color-true-black, 4%);
    color: #fff;

    &:focus {
      box-shadow: 0 0 10px darken($color-true-black, 10%);
    }

    &:hover,
    &:focus {
      background: lighten($color-black, 2%);
      background: var(--color-black);
      color: #fff;
    }
  }

  &.button--blue {
    background: $color-blue;
    border: 1px solid darken($color-blue, 4%);
    color: #fff;

    &:focus {
      box-shadow: 0 0 10px lighten($color-blue, 27%);
    }

    &:hover,
    &:focus {
      background: darken($color-blue, 4%);
      color: #fff;
    }
  }

  &.button--white {
    background: #fff;
    border: 1px solid #eaeaea;
    color: darken($color-grey, 20%);
    text-shadow: none;

    &.button--loading svg.loading {
      fill: $color-black;
    }

    &:focus {
      box-shadow: 0 0 10px lighten($color-grey, 27%);
    }

    &:hover,
    &:focus {
      background: darken(#fff, 4%);
      background: var(--color-primary-opacity-10);
      border-color: darken(#fff, 4%);
      border-color: var(--color-primary-opacity-10);
      color: $color-black;
      color: var(--color-black);
    }

    &[disabled] {
      &:hover,
      &:focus {
        background: #fff;
        color: darken($color-grey, 20%);
      }
    }

    .loading {
      fill: darken($color-grey, 50%);
    }
  }
}

.button--big {
  padding: 7px 30px 8px;
  font-weight: bold;
  font-size: 13px;
}

.button.button--small {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 11px;

  .label {
    padding: 0;
  }
}

.button--disabled,
.button--dimmed {
  opacity: 0.5;
}

.button--disabled {
  cursor: default;
}

.button--filled.button--borderLess {
  border-color: transparent;
  box-shadow: none;
}

.button--cancel {
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  top: -1px;
  padding: 1px 3px;
  margin: 0 4px;
  border: 0;
  border-radius: 50%;
  background: #dbdbdb;
  font-size: 9px;
  color: #fff;

  &:hover,
  &:focus {
    background: darken(#dbdbdb, 5%);
  }
}

.button--grey {
  color: #8a8a8a;
  border-color: #dbdbdb;

  &.button--loading svg.loading {
    fill: #8a8a8a;
  }

  &:hover,
  &:focus {
    color: darken(#8a8a8a, 10%);
    background: lighten(#8a8a8a, 43%);
    border-color: darken(#dbdbdb, 10%);
  }
}

.button--green {
  color: $color-success;

  &.button--loading svg.loading {
    fill: $color-success;
  }

  &:hover,
  &:focus {
    background: lighten($color-success, 43%);
    color: darken($color-success, 5%);
  }
}

.button--red {
  color: $color-error;

  &.button--loading svg.loading {
    fill: $color-error;
  }

  &:hover,
  &:focus {
    background: lighten($color-error, 41%);
    color: darken($color-error, 5%);
  }
}

.button--primary {
  color: $color-green;
  color: var(--color-primary);

  &.button--loading svg.loading {
    fill: $color-green;
    fill: var(--color-primary);
  }

  &:hover,
  &:focus {
    color: darken($color-green, 15%);
    color: var(--color-primary-darken-5);
  }
}

.button--text {
  background: transparent;
  font-size: 12px;
  font-weight: 400;
}

.button--borderless {
  border-color: transparent;
}
