.data-control {
  margin-bottom: 15px;

  .checkbox {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid var(--background-light-highlight);
    padding: 3px 6px;
    border-radius: 3px;
    background: var(--background-light);

    input {
      margin-right: 5px;
    }
  }
}

.data-title {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}
