.data-control {
  margin-bottom: 15px;
}

.data-title {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

:global(.checkbox-with-label) {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #eee;
  padding: 3px 6px;
  border-radius: 3px;
  background: #f7f7f7;

  input {
    margin-right: 5px;
  }
}
