<div local-class="data-control">
  <h3 local-class="data-title">
    {{@title}}
  </h3>

  <label local-class="checkbox">
    <Input
      @type="checkbox"
      @checked={{@syncChecked}}
      {{on "change" this.changeSyncChecked}}
    />
    {{@syncCheckLabel}}
  </label>
</div>
