.footer {
  padding: 10px;
  margin-top: 40px;
  background: var(--background-light);
  color: var(--color-grey);
  font-size: 12px;
  text-align: right;

  &:focus,
  &:hover {
    .button-themes {
      opacity: 1;
    }
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--screen-lg);
}

.meta {
  display: flex;
  align-items: center;
}

.version {
  font-family: var(--font-monospace);
  font-size: 10px;
}

.button-themes {
  opacity: 0;
  display: flex;
  margin-left: 10px;
  transition: opacity 0.2s ease-in-out;
}

.button-theme {
  padding: 0 3px;
  margin-left: 5px;
  background: none;
  opacity: 0.2;
  color: var(--text-color-normal);
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out,
    transform 0.2s ease-in;

  &:focus,
  &:hover {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.button-theme--moon {
  &:hover {
    transform: rotate(-20deg);
    color: #5660e4;
  }

  svg {
    width: 13px;
    height: 13px;
  }
}

.button-theme--sun {
  &:hover {
    transform: translateY(-3px);
    color: #dcbc18;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.external-link {
  color: var(--color-black);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: var(--screen-lg)) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
