@value color-light-background, color-grey from 'accent-webapp/styles/variables/colors';

.footer {
  padding: 10px;
  margin-top: 40px;
  background: color-light-background;
  color: color-grey;
  font-size: 12px;
  text-align: right;
}

.inner {
  @extend %centeredWrapper;
  display: flex;
  justify-content: flex-end;
}

.external-link {
  color: #000;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
