<div class="inner">
  <div>
    {{t "components.application_footer.text"}}
    <a class="external-link" target="_blank" rel="noopener" href="http://mirego.com">
      {{t "general.company_name"}}
    </a>
  </div>
</div>
