<footer>
  <div class="inner">
    <div>
      {{t 'components.application_footer.text'}}
      <a class="external-link" target="_blank" href="http://mirego.com">Mirego</a>
    </div>
  </div>
</footer>
