<footer>
  <div class="inner">
    <div>
      <a class="link" target="_blank" href="https://github.com/mirego/accent-cli">{{t 'components.application_footer.accent_bot'}}</a>
    </div>

    <div>
      {{t 'components.application_footer.text'}}
      <a class="external-link" target="_blank" href="http://mirego.com">Mirego</a>
    </div>
  </div>
</footer>
