.conflicts-wrapper {
  overflow-x: auto;
  --group-columns-width: 260px;
}

.conflicts-header {
  position: sticky;
  padding: 14px 0 0 15px;
  top: 0;
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(var(--group-columns-count, 1), 1fr);
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px -14px;
  background: var(--content-background);
}

.conflicts-list-version {
  margin: 0 0 15px;
  padding: 15px;
  border-radius: var(--border-radius);
  font-size: 12px;
  background: hsl(
    var(--color-blue-hue),
    var(--color-blue-saturation),
    var(--color-highlight-lighteness)
  );
  color: var(--color-blue);
}

.conflicts-list-version-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 2px;
  font-size: 11px;
  font-family: var(--font-monospace);
  font-weight: 600;
  text-transform: none;
}

.conflicts-header-item {
  padding-bottom: 10px;
  min-width: var(--group-columns-width);
}

.conflicts-header-item-slug {
  font-weight: normal;
  opacity: 0.6;
  margin-left: 2px;
  font-size: 12px;
}

.all-reviewed {
  max-width: 400px;
  margin: 100px auto 20px;
  text-align: center;
}

.all-reviewed-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
  color: var(--color-primary);
}

.all-reviewed-subtitle {
  font-size: 12px;
  color: var(--color-grey);
}
