.language {
  display: block;
  margin-bottom: 6px;
  color: var(--color-black);
  opacity: 0.8;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  transition-property: opacity;

  &:focus,
  &:hover {
    opacity: 1;

    .back-icon {
      opacity: 1;
      transform: translateX(-2px);
    }
  }
}

.back-icon {
  width: 11px;
  height: 11px;
  opacity: 0.8;
  stroke: var(--color-black);
  transition: 0.2s ease-in-out;
  transition-property: opacity, transform;
}
