.wrapper {
  position: relative;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-black);
  font-size: 13px;
  gap: 13px;

  h1 {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -0.4px;
  }

  > svg {
    height: 20px;
    opacity: 0.6;
  }
}

@media (max-width: 800px) {
  .wrapper {
    margin-top: 20px;
  }

  .wrapper > svg {
    display: none;
  }
}
