.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 10px auto 0;
  max-width: var(--screen-lg);
  position: relative;
}

.item {
  flex: 1 1 calc(50% - 10px);
  max-width: 50%;
}

.item-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0 10px 20px;
  transition: 0.2s ease-in-out;
  transition-property: background;

  &:focus {
    background: var(--background-light);
  }
}

@media (max-width: 640px) {
  .item {
    max-width: none;
    width: 100%;
    flex: 1 1 auto;
  }

  .item-link {
    margin-bottom: 10px;
  }

  .projects-list {
    padding: 0;
  }
}
