.projects-header {
  padding: 20px 0 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--screen-lg);
  padding: 0 15px 0 20px;
  width: 100%;
}

.content-right,
.content-left {
  display: flex;
  align-items: center;
}

.applicationLogo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.link.active .link-image {
  &:focus,
  &:hover {
    transform: rotate(0);
  }
}

.applicationLogo-back,
.applicationLogo-image {
  display: block;
  transition: 0.7s ease-in-out;
  transition-property: transform;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.applicationLogo-back {
  color: #bbb;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.applicationLogo-accent,
.applicationLogo-name {
  margin-left: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

.picture {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  border-radius: var(--border-radius);
}

.username {
  opacity: 0.5;
  margin-right: 15px;
  font-size: 12px;
}

@media (max-width: 640px) {
  .projects-header {
    padding: 10px 0;
    margin-bottom: 10px;

    .content {
      padding: 0 10px;
    }
  }
}

@media (max-width: 440px) {
  .applicationLogo-image {
    width: 18px;
    height: 18px;
  }

  .username {
    font-size: 11px;
  }

  :global(.button) {
    padding: 3px 7px 4px;
    font-size: 11px;
  }

  .applicationLogo-name {
    display: none;
  }

  .project-logo {
    display: none;
  }

  .projects-header.withProject,
  .projects-header {
    padding-top: 20px;

    .content {
      padding: 0 12px;
    }
  }
}
