.revision-selector {
  position: relative;
  margin-bottom: 15px;

  select {
    padding: 10px 10px 10px 7px;
    padding-bottom: 25px;
    border-radius: var(--border-radius);
    font-size: 20px;
    flex-direction: row-reverse;
    cursor: pointer;
    pointer-events: all;
    border-color: transparent;

    &:hover {
      background: var(--background-light);
    }
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  pointer-events: none;
  z-index: 10;
  border-radius: var(--border-radius);
  background: var(--content-background);
  border: 1px solid var(--content-background-border);

  &:hover {
    background: var(--background-light);
  }
}

.otherLanguages {
  font-size: 12px;
  color: #ccc;
}
