.translations-activities-list {
  position: relative;
  margin-top: 30px;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    left: 9px;
    z-index: 8;
    background: var(--background-light-highlight);
  }
}
