.colorInput,
.textInput {
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;
  max-height: 200px;
}
.colorInput::-moz-selection,
.textInput::-moz-selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.colorInput::selection,
.textInput::selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.colorInput:focus,
.textInput:focus {
  border: 2px solid var(--color-primary);
}
.colorInput:disabled,
.textInput:disabled {
  color: var(--color-grey);
  background: var(--background-light);
}

@media (hover: none) and (max-width: 640px) {
  .colorInput,
  .textInput {
    font-size: 16px !important;
  }
}
.project-settings-form {
  margin-top: 25px;
}

.textInput {
  max-width: 350px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px;
  font-family: var(--font-primary);
  font-size: 12px;
}

.colorInput {
  width: 48px;
  height: 40px;
  padding: 5px 11px;
}

.field {
  display: flex;
  margin-bottom: 15px;
  gap: 8px;
}

.lock {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background: var(--background-light);
}

.lock-text-helper {
  font-size: 11px;
  font-style: italic;
  color: #555;
}

div.lock-text {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 3px 5px;
}
div.lock-text.lock-text--inactive {
  color: var(--color-gray);
}
div.lock-text.lock-text--inactive:hover {
  color: var(--color-green);
  border-color: var(--color-green);
}
div.lock-text.lock-text--inactive:hover .lock-icon {
  stroke: var(--color-green);
}
div.lock-text.lock-text--inactive .lock-icon {
  stroke: #aaa;
}
div.lock-text.lock-text--active {
  color: var(--color-error);
  border-color: var(--color-error);
}
div.lock-text.lock-text--active .lock-icon {
  stroke: var(--color-error);
}

.lock-icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.logo {
  display: flex;
  width: 25px;
  height: 22px;
  padding: 0;
  font-size: 25px;
  line-height: 1;
  background: transparent;
  cursor: pointer;
}
.logo :global(svg) {
  width: 25px;
  height: 21px;
}
.logo :global(svg circle) {
  fill: var(--logo-background);
}
.logo :global(svg path) {
  fill: var(--logo-foreground);
}
.logo:hover {
  opacity: 0.6;
}

.logo-field {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 40px;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
}

.logoReset {
  position: absolute;
  top: -3px;
  right: -14px;
  padding: 0;
  background: none;
  color: #999;
}
.logoReset :global(svg) {
  width: 10px;
  height: 10px;
}
.logoReset:focus,
.logoReset:hover {
  opacity: 0.6;
}
