.item-text {
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  color: var(--text-color-normal);
  font-size: 16px;

  &.item-text--empty {
    color: var(--color-grey);
    font-style: italic;
  }
}
