& {
  max-width: 330px;
  margin-bottom: 20px;
}

&.master {
  .language-name {
    color: darken($color-grey, 15%);
  }
}

&.low-percentage {
  .reviewedStats {
    color: $color-error;
  }

  .container {
    border-color: lighten($color-error, 47%);
    background: lighten($color-error, 53%);
  }

  .progress {
    background: $color-error;
  }
}

&.medium-percentage {
  .reviewedStats {
    color: $color-warning;
  }

  .container {
    border-color: lighten($color-warning, 30%);
    background: lighten($color-warning, 45%);
  }

  .progress {
    background: $color-warning;
  }
}

&.high-percentage {
  .reviewedStats {
    color: $color-success;
  }

  .container {
    border-color: lighten($color-success, 45%);
    background: lighten($color-success, 53%);
  }

  .progress {
    background: $color-success;
  }
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-grey;
}

.language-name {
  transition: $transition-speed $transition-easing;
  transition-property: color;
  color: $color-grey;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-primary;
  }
}

.language-reviewedPercentage {
  margin-left: 4px;
  font-weight: normal;
  font-size: 13px;
  color: lighten($color-grey, 10%);
}

.reviewedStats {
  font-size: 12px;
}
