.operations-peek-item {
  margin-bottom: 15px;
}

.input {
  @extend %textInput;
  width: 100%;
  padding: 5px 7px;
  font-family: var(--font-primary);
  font-size: 12px;
  color: var(--color-black);

  &:focus {
    box-shadow: inset 0 1px 2px rgba(#000, 0.1), 0 1px 2px var(--shadow-color);
  }

  &::placeholder {
    color: var(--color-grey);
  }
}

.statsList,
.operationsList {
  max-height: 500px;
  overflow-y: auto;
  margin: 10px 0;
  background: var(--body-background);
  box-shadow: 0 2px 10px var(--shadow-color);
}

.stat {
  padding: 5px 10px;

  &:first-of-type {
    padding-top: 10px;
  }

  &:last-of-type {
    padding-bottom: 10px;
    border-bottom-color: transparent;
  }
}

.stat-count {
  margin-right: 6px;
  font-size: 16px;
  font-weight: bold;
}

.stat-action {
  font-size: 13px;
}

.operation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--background-light);
}

.operation-content {
  padding: 5px 10px 10px;
}

.operation-action {
  font-size: 12px;
  color: var(--color-grey);
}

.operation-key {
  word-break: break-all;
  font-family: var(--font-monospace);
  font-size: 11px;
}

.operation-textLabel {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.operation-text {
  display: inline-block;
  font-size: 12px;
}

.noChanges {
  padding: 20px 10px;
  font-style: italic;
  font-size: 12px;
  color: var(--color-grey);
}
