.operations-peek-item {
  margin-bottom: 15px;
}

.languageHeader {
  display: flex;
  justify-content: space-between;
}

.languageHeader-title {
  font-size: 15px;
  font-weight: bold;
}

.languageHeader-displayOptions-button {
  padding: 0 10px;
  background: none;
  border-right: 1px solid var(--background-light-highlight);
  color: var(--color-grey);
  font-size: 13px;

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:last-of-type {
    border-right-color: transparent;
  }
}

.languageHeader-displayOptions-button[disabled] {
  color: var(--color-primary);
}

.statsList,
.operationsList {
  margin: 10px 0;
  background: var(--body-background);
  box-shadow: 0 2px 10px var(--shadow-color);
}

.stat {
  padding: 5px 10px;

  &:first-of-type {
    padding-top: 10px;
  }

  &:last-of-type {
    padding-bottom: 10px;
    border-bottom-color: transparent;
  }
}

.stat-count {
  margin-right: 6px;
  font-size: 16px;
  font-weight: bold;
}

.stat-action {
  font-size: 13px;
}

.operation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--background-light);
}

.operation-content {
  padding: 5px 10px 10px;
}

.operation-action {
  font-size: 12px;
  color: var(--color-grey);
}

.operation-key {
  word-break: break-all;
  font-family: var(--font-monospace);
  font-size: 11px;
}

.operation-textLabel {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.operation-text {
  display: inline-block;
  font-size: 12px;
}

.noChanges {
  padding: 20px 10px;
  font-style: italic;
  font-size: 12px;
  color: var(--color-grey);
}
