.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  &:focus,
  &:hover {
    .button-edit,
    .button-delete {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

:global(.button.button--small).button-edit {
  padding: 0;
  color: var(--color-grey);
}

:global(.button).button-edit,
:global(.button).button-delete {
  opacity: 0;
  transform: translate3d(10px, 0, 0);

  &:hover {
    background: transparent;
  }
}

.comment-form {
  margin-top: 10px;
}

.user {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
  font-size: 12px;
  font-weight: bold;
}

.user-picture {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-radius: 3px;
}

.date {
  color: var(--color-grey);
  font-size: 11px;
  margin-right: 6px;
}

.content {
  font-size: 13px;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-top: 5px;
  }
}
