& {
  margin-top: 20px;
  max-width: 550px;
}

.list {
  margin: 15px 0 0;
}

.list-item {
  margin-bottom: 5px;
  padding: 8px 2px;
  border-bottom: 1px solid rgba($color-black, 0.1);
  font-size: 14px;

  &.list-item--deleted {
    display: none;
  }

  &.list-item--deleting {
    .list-item-actions {
      pointer-events: all;
      opacity: 1;
    }
  }

  &.list-item--master {
    padding: 10px 2px;
    margin-bottom: 10px;
    border-bottom-color: rgba($color-black, 0.2);
    font-size: 16px;
  }

  &:focus,
  &:hover {
    .list-item-actions {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-infos-date {
  font-size: 12px;
  color: $color-grey;
}

.list-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $color-primary;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.list-item-actions {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: $transition-speed $transition-easing;
  transition-property: opacity;
}

.masterBadge {
  margin-left: 10px;
}
