.project-settings-manage-languages {
  display: flex;
  margin-top: 25px;

  :global(.ember-power-select-trigger) {
    min-height: 31px;
    max-width: 400px;
    margin-bottom: 20px;
    background: var(--background-light);
    border: 1px solid var(--background-light-highlight);
  }
}

.overview {
  width: 80%;
}

.help {
  margin: 60px 0 0 50px;
}

.titleText {
  display: flex;
  align-items: center;
  margin: 15px 0 5px;
  font-weight: 600;
  font-size: 13px;
  color: var(--color-black);

  &:first-of-type {
    margin-top: 0;
  }
}

.explainText {
  display: block;
  opacity: 0.6;
  max-width: 700px;
  font-size: 12px;
  color: var(--color-black);
}

.emptyLanguages {
  font-size: 14px;
  padding: 10px;
  background: var(--background-light);
  border: 1px solid var(--background-light-highlight);
  border-radius: 3px;
  color: var(--color-black);
}

.createSlaveForm {
  margin-top: 20px;
}

.error {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-error);
}

@media (max-width: var(--screen-md)) {
  .project-settings-manage-languages {
    flex-direction: column;
  }

  .help {
    margin: 40px 0 0;
  }
}
