.translation-comments-list {
  position: relative;
  box-shadow: 0 1px 5px var(--shadow-color);
  border-radius: 3px;
  border: 1px solid var(--background-light-highlight);
}

.translation-comments-list.translationRemoved {
  opacity: 0.5;

  .itemComment {
    padding: 4px 8px 8px;
  }
}

.translation-comments-list.at-translation {
  margin-top: 20px;

  &:before,
  &:after {
    display: none;
  }
}

.itemComment {
  padding: 8px 10px 10px;
  border-bottom: 1px solid var(--background-light-highlight);

  &:focus,
  &:hover {
    background: var(--background-light);
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.itemComment-header {
  display: flex;
  align-items: center;
}

.itemComment-user {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
  font-size: 12px;
  font-weight: bold;
}

.itemComment-user-picture {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-radius: 3px;
}

.itemComment-date {
  color: var(--color-grey);
  font-size: 11px;
}

.itemComment-content {
  margin-top: 5px;
  font-size: 13px;
}

@media (max-width: var(--screen-lg)) {
  .translation-comments-list {
    border-color: transparent;
    box-shadow: none;
  }
}
