<ul local-class="translation-comments-list" ...attributes>
  {{#each @comments key="id" as |comment|}}
    <li local-class="itemComment">
      <TranslationCommentsList::Item
        @comment={{comment}}
        @onDeleteComment={{@onDeleteComment}}
      />
    </li>
  {{else}}
    <EmptyContent
      @iconPath="assets/bubble.svg"
      @text={{t "components.translation_comments_list.no_comments"}}
    />
  {{/each}}
</ul>
