<div local-class="loading-content" data-test-loader ...attributes>
  <svg viewBox="25 25 50 50">
    <circle cx="50" cy="50" r="20"></circle>
  </svg>

  {{#if @label}}
    <span local-class="label">{{@label}}</span>
  {{/if}}
</div>
