.flash-messages-list {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 5001;
  pointer-events: none;
}
