.list-item {
  margin-bottom: 5px;
  padding: 8px 2px;
  border-bottom: 1px solid var(--background-light);
  font-size: 14px;

  &.list-item--deleted {
    display: none;
  }

  &.list-item--deleting {
    .list-item-actions {
      pointer-events: all;
      opacity: 1;
    }
  }

  &.list-item--master {
    padding: 10px 2px;
    margin-bottom: 10px;
    border-bottom-color: var(--background-light-highlight);
    font-size: 16px;
  }

  &:focus,
  &:hover {
    .list-item-actions {
      pointer-events: all;
      opacity: 1;
    }

    .list-item-header-edit {
      opacity: 1;
      transform: translateX(-24px);
    }
  }
}

.list-item-header {
  position: relative;
}

.list-item-header-edit {
  position: absolute;
  left: 0;
  top: 3px;
  padding-right: 12px;
  color: var(--color-grey);
  opacity: 0;
  transform: translateX(-10px);
  transition: 0.2s ease-in-out;
  transition-property: opacity, transform, color;

  &:focus,
  &:hover {
    color: var(--color-primary);
  }

  svg {
    width: 14px;
  }
}

.list-item-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-infos-date {
  font-size: 12px;
  color: var(--color-grey);
}

.list-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.list-link-small {
  margin-left: 5px;
  font-size: 11px;
  opacity: 0.6;
}

.list-item-actions {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: opacity;
}

.masterBadge {
  margin-left: 10px;
}

.promoteSlaveButton {
  padding: 2px 6px !important;
  margin-right: 10px !important;
}

.deleteSlaveButton {
  padding: 2px 6px !important;
}
