.project-settings-integrations {
  position: relative;
  margin-top: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-light);
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: var(--color-grey);
  font-weight: bold;
  font-size: 17px;
}

.toggleCreateFormButton {
  position: absolute;
  top: 0;
  right: 0;
}

.help {
  margin: 10px 0;
  font-size: 13px;
  font-style: italic;
  color: var(--color-black);
}
