.content {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 20px 0 30px;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .content {
    margin-top: 5px;
    padding: 0 10px;
  }
}

@media (max-width: 440px) {
  .content {
    margin-top: 0;
  }
}
