.versions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  margin: 20px 0;
  border-bottom: 1px solid var(--background-light-highlight);
}

.empty-content {
  margin: 20px 0;
}
