<div local-class='project-settings-jipt'>
  <ProjectSettings::Title @title={{t 'components.project_settings.jipt.title'}} />

  <p local-class='text'>
    {{t 'components.project_settings.jipt.integration_help'}}
    <br />
    <a local-class='link' href='https://www.accent.reviews/guides/live-editing.html'>
      {{t 'components.project_settings.jipt.integration_link'}}
    </a>

  </p>

  <textarea readonly='' onClick='this.select();' local-class='code'>{{this.scriptContent}}</textarea>
</div>