.fileSourceName,
.commit-file :global(.textInput) {
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow;
  resize: vertical;
  outline: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-border-color);
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-monospace);
  line-height: 1.4;
  max-height: 200px;
}
.fileSourceName::-moz-selection,
.commit-file :global(.textInput)::-moz-selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.fileSourceName::selection,
.commit-file :global(.textInput)::selection {
  background: color-mix(in srgb, var(--color-primary) 70%, transparent);
}
.fileSourceName:focus,
.commit-file :focus:global(.textInput) {
  border: 2px solid var(--color-primary);
}
.fileSourceName:disabled,
.commit-file :disabled:global(.textInput) {
  color: var(--color-grey);
  background: var(--background-light);
}

@media (hover: none) and (max-width: 640px) {
  .fileSourceName,
  .commit-file :global(.textInput) {
    font-size: 16px !important;
  }
}
.commit-file :global(.textInput) {
  margin-bottom: 8px;
  padding: 5px;
  outline: 0;
  background: #fff;
  font-family: var(--font-monospace);
  font-size: 12px;
}
.commit-file :global(.ember-power-select-trigger) {
  padding: 6px 10px;
  border: 1px solid var(--background-light-highlight);
  background: var(--background-light);
  color: var(--color-black-opacity-70);
}

.textHelper {
  margin-bottom: 3px;
  width: 80%;
  color: var(--color-grey);
  font-size: 12px;
}

.documentHelper {
  display: inline-block;
  margin-bottom: 7px;
  padding: 2px 0 3px;
  border-radius: var(--border-radius);
  color: var(--color-primary);
  font-size: 11px;
}
.documentHelper.documentHelper--new {
  color: var(--color-green);
}

.options {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.options .option {
  padding-top: 0;
}

.option {
  flex: 1 1 auto;
  width: 100%;
  padding: 9px 0;
  margin: 0;
}
.option.option--borderless {
  border-bottom: 0;
}
.option.option--borderless:first-of-type {
  margin-right: 10px;
}

.optionLabel {
  display: flex;
  font-size: 12px;
}

.optionLabelText {
  margin-left: 5px;
}

.actions {
  margin-top: 15px;
}

.fileInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.fileInputIcon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  stroke: var(--color-black);
  stroke: var(--color-black);
}

.fileInputTitle {
  display: flex;
  align-items: center;
  margin: 0 0 6px;
  color: var(--color-black);
  color: var(--color-black);
}

.fileInputHelper {
  max-width: 300px;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-black-opacity-70);
}

.fileButton {
  align-self: center !important;
  margin-top: 7px !important;
  padding: 9px 30px !important;
}
.fileButton .local-button-icon {
  margin-right: 10px !important;
}

.emptyFile {
  display: flex;
}
.emptyFile:global(> div) {
  width: 50%;
}

.emptyFile-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instructions-title {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-black);
  color: var(--color-black);
}

.instructions-list,
.instructions-text {
  margin-bottom: 18px;
  font-size: 13px;
  color: var(--color-black);
}
.instructions-list :global(em),
.instructions-text :global(em) {
  display: block;
  margin: 5px 0;
  font-style: normal;
  font-weight: bold;
  color: var(--color-primary);
}

.instructions-list {
  list-style: disc;
  padding-left: 15px;
}

.instructions-list-item {
  margin-bottom: 5px;
  font-size: 12px;
}

.peekButton {
  margin-top: 7px !important;
}

.errorMessage {
  margin: 10px 0;
  color: var(--color-error);
  font-size: 13px;
  font-weight: bold;
}

.fileSourceName {
  padding: 6px 10px;
  font-size: 12px;
  font-family: var(--font-monospace);
  color: #444;
}
