.button {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0 2px 4px var(--shadow-color);
  border-radius: 3px;
  color: var(--color-primary);
  font-weight: normal;
  font-size: 18px;

  &:focus,
  &:hover {
    background: var(--color-primary-opacity-10);
    border-color: var(--color-primary-opacity-10);
    color: var(--color-black);
  }
}

.button-icon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  fill: var(--color-primary);
}
