.translation-splash-title {
  margin: 5px 0 62px;
}

.revision {
  height: 3px;
  width: 80px;
  margin-bottom: 20px;
  background: #eee;
}

.translation {
  height: 4px;
  width: 180px;
  background: var(--color-primary);
}
